<!-- <a> 
   <i class="fa fa-lg fa-search navBgDisabledSecondaryColor"
      tooltip="Patient Search" 
      tooltip-placement="bottom"
      tooltip-trigger="mouseenter"
      style="margin-right: 6px;">
   </i>
</a> -->
<div class="row searchbox-wrapper" >
   <div class="col-sm-12">
      <input placeholder="Name, Chart Id, Phone, Email" type="text" ng-model="searchInput" ng-change="handleSearch()" class="patient-search-box">
   </div>
</div>
<!-- <input type="text" class="searchWidgetInput noFocusOutline"
   placeholder="&nbsp;&nbsp; Name, Chart Id, Phone, Email "
   id="searchWidgetInput" name="searchInput" ng-model="searchInput"/> -->
<div ng-show="patients" class="patient-selection-container" style="margin-top: 1em;">
   <!-- <table class="table table-hover table-condensed" style="zoom:90%;">
      <tr ng-repeat="patient in patients">
         <td>
            <a href="" ng-click="onSelect(patient)">
               {{displayPatient(patient)}}
            </a>
         </td>
      </tr>
   </table> -->
   <div class="col-sm-12 patient-item" ng-repeat="patient in patients">
      <div class="row">
         <div class="col-xs-12 col-sm-10">
            <p class="patient_name">{{patient.name}}&nbsp;&nbsp;&nbsp;ID:{{patient.clinicData.chartId}}</p>
            <address class="address-section">
               <span ng-if="patient.address.add_line1">{{ patient.address.add_line1 }},</span>
               <span ng-if="patient.address.add_line2">{{ patient.address.add_line2 }}</span>
               <span ng-if="patient.address.city">{{ patient.address.city }},</span>
               <span ng-if="patient.address.state">{{ patient.address.state }}</span>
               <span ng-if="patient.address.zipcode">{{ patient.address.zipcode }}</span>
               <span ng-if="patient.address.phone" class="pl-1">Ph:
                  {{ patient.address.phone | t32Tel }}</span>
            </address>
         </div>
         <div class="col-xs-12 col-sm-2">
            <button type="button" class="btn btn-success square-button" ng-click="onSelect(patient)">
               <!-- <i class="fa fa-sign-in"></i> -->
               Xray
            </button>
         </div>
      </div>
   </div>
</div>
