<div class="container-fluid">
    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>
    <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance"></t32-popup-closer>
    <div class="col-md-12" style="padding-bottom: 15px;">
        <h3 style="text-align: center;" class="title">Select Record Date</h3>
        <div>&nbsp;</div>
        <label>Patient: </label> {{patient.name}}
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-6">
                <t32-date-picker selected-date="selectedDate" hide-today-button="true"></t32-date-picker>
            </div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-success" ng-click="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>
