<div class="container-fluid">
    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>
    <!-- <div class="row" style="background: #30b6e6" style="border-top-right-radius: 6px; border-top-left-radius: 6px;">
        <div class="col-md-12" style="height: 50px;">
            &nbsp;
        </div>
    </div>
    <div class="row" style="background: #3cb44a">
        <div class="col-md-12" style="height: 4px;">
            &nbsp;
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-12" style="height: 30px;"></div>
    </div> -->
    <div class="row">
        <!-- <div class="col-md-2 text-center">
            <img src="img/patient-profile.svg" width="70px" />
        </div> -->
        <!-- <div class="col-md-8" style="padding-left: 0">
         <h2>
             <b>
                {{newPatient ? 'New ' : 'Edit '}}Patient Information
             </b>
         </h2>
        </div> -->
        <div class="col-md-12 text-center">
            <h2>
                <b>
                    {{newPatient ? 'New ' : 'Edit '}}Patient Information
                </b>
            </h2>
        </div>
    </div>
    <t32-popup-closer
        special-close="cancel()" style="color: red">
    </t32-popup-closer>     
   <br>
    <form class="form-horizontal" name="editPatientForm" ng-submit="savePatient(editPatientForm.$valid)" novalidate>
         <div class="form-group">
             <div class="col-md-11">
                    <div class="form-group" ng-show="clinic.subscription.multiLocation">
                        <label class="control-label col-md-2">Home Office</label>
                        <div class="col-md-4">
                            <select ng-options="loc._id as loc.name for loc in clinic.locations"
                                    ng-model="patient.locationId"
                                    class="form-control">
                                <option value=""> </option>
                            </select>                        
                        </div>
                    </div>
                 <div class="form-group">
                     <label class="control-label col-md-2">First Name<sup>*</sup></label>
                     <div class="col-md-4">
                         <input type="text" class="form-control" ng-model="patient.fname" required ng-disabled="readOnly">
                     </div>
                     <label class="control-label col-md-2">Middle Name</label>
                     <div class="col-md-4">
                         <input type="text" class="form-control" ng-model="patient.mname" ng-disabled="readOnly">
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-md-2">Last Name<sup>*</sup></label>
                     <div class="col-md-7">
                         <input type="text" class="form-control" ng-model="patient.lname" required ng-disabled="readOnly">
                     </div>
                        <div class="col-md-3" ng-show="patient._id">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="patient.inactive" ng-disabled="readOnly">Inactive</label>
                            </div>
                        </div>
                 </div>
                    <div class="form-group" ng-if="patient.inactive">
                        <label class="control-label col-md-5">&nbsp;</label>
                        <label class="control-label col-md-3">Inactive Reason<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="patient.inactiveReason" required ng-disabled="readOnly">
                        </div>
                    </div>

                 <div class="form-group">
                     <label class="control-label col-md-2">DOB<sup>*</sup></label>
                     <div class="col-md-3">
                        <t32-date-picker
                            hide-today-button="true" 
                            selected-date="patient.dob">
                        </t32-date-picker> 
                     </div>
                     <label for="ssn" class="control-label col-md-1">SSN</label>
                     <div class="col-md-3">
                     <input type="text" class="form-control" ng-model="patient.ssn"  ui-mask="999-99-9999" ng-disabled="readOnly"/>
                     </div>
                     <label for="gender" class="control-label col-md-1">Gender<sup>*</sup></label>
                     <div class="col-md-2">
                     <select required class="form-control"  ng-disabled="readOnly" ng-model="patient.gender">
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                     </select>
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-md-2">Email
                            <sup ng-show="patient.emailConsent">*</sup>
                        </label>
                     <div class="col-md-7">
                         <input type="text" class="form-control" ng-model="patient.email" ng-required="patient.emailConsent" ng-disabled="readOnly">
                        </div>                            
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label><input type="checkbox" name="emailConsent" ng-model="patient.emailConsent" ng-disabled="readOnly">Email Consent</label>
                            </div>
                        </div>
                 </div>
                 <div class="form-group">
                     <label for="addressLine" class="control-label col-md-2">Address</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="addressLine" name="clinicAddress" ng-model="patient.address.add_line1" ng-disabled="readOnly">
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="addressLine2" class="control-label col-md-2">Address (cont.)</label>
                     <div class="col-md-10">
                         <input type="text" class="form-control" id="addressLine2" name="addressLine2" ng-model="patient.address.add_line2" ng-disabled="readOnly">
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="city" class="control-label col-md-2">City</label>
                     <div class="col-md-4">
                         <input type="text" class="form-control" id="city" name="city" ng-model="patient.address.city" ng-disabled="readOnly">
                     </div>
                     <label for="state" class="control-label col-md-1">State</label>
                     <div class="col-md-2">
                         <select type="text" class="form-control" id="state" name="state" ng-options="state for state in states" ng-model="patient.address.state" ng-disabled="readOnly"></select>
                     </div>
                     <label for="zip" class="control-label col-md-1">ZipCode</label>
                     <div class="col-md-2">
                         <input type="text" class="form-control" id="zip" name="zip" ng-model="patient.address.zipcode" ui-mask="99999" ng-disabled="readOnly">
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="phone" class="control-label col-md-2">Phone</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="phone" name="phone" ui-mask="(999)999-9999" ng-model="patient.address.phone"  ng-disabled="readOnly">
                        </div>
                        <label for="cell" class="control-label col-md-1">Cell<sup ng-show="patient.smsConsent">*</sup></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cell" name="cell" ui-mask="(999)999-9999" ng-model="patient.smsPhone" ng-required="patient.smsConsent" ng-disabled="readOnly">
                        </div>
                     <div class="col-md-2">
                         <div class="checkbox">
                             <label><input type="checkbox" name="smsConsent" ng-model="patient.smsConsent" ng-disabled="readOnly">Text Consent</label>
                         </div>
                     </div>
                 </div>
                    <div class="form-group">
                        <label for="phone" class="control-label col-md-2">&nbsp;</label>
                        <div class="col-md-5">
                            <div class="checkbox">
                                <!-- <label><input type="checkbox" name="migrated" ng-model="patient.migrated" ng-disabled="readOnly">Migrated Patient Record</label> -->
                                <label ng-show="showUpdateFamilyMembersOption"><input type="checkbox" ng-click="toggleAll()" name="applyToFamily" ng-model="applyToAllMembers" ng-disabled="readOnly" >Update All Family Member Records</label>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <strong>Fields with <sup>*</sup> are required.</strong>
                        </div>
                    </div>
                    <div ng-if="applyToAllMembers" class="col-md-12">
                        <label class="control-label col-md-2">&nbsp;</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div ng-repeat="opt in apllyToAllOptions" class="family-member-options">
                                <input type="checkbox" ng-model="opt.selected" ng-change="optionToggled()">&nbsp;{{opt.label}}
                                &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="control-label col-md-2">&nbsp;</label>
                        <div class="col-md-5">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-click="toggleAll()" name="applyToFamily" ng-model="applyToAllMembers" ng-disabled="readOnly" >Update All Family Member Records</label>
                            </div>
                        </div>

                        <div ng-if="applyToAllMembers" class="col-md-12">
                            <label class="control-label col-md-2">&nbsp;</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div ng-repeat="opt in apllyToAllOptions" class="family-member-options">
                                    <input type="checkbox" ng-model="opt.selected" ng-change="optionToggled()">&nbsp;{{opt.label}}
                                    &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div> -->
                </div>
         </div>
    </form>
    <div class="row" ng-hide="readOnly">
            <div class="col-md-11 text-right">
            <button class="btn btn-default" ng-click="cancel()">
               Cancel
            </button>
                &nbsp;&nbsp;
            <button class="btn btn-success" 
                        ng-click="savePatient()" 
                        id="onboardSavePatientButton"
                        ng-disabled="!editPatientForm.$valid">
               <span class="glyphicon glyphicon-check"></span>&nbsp;Save
            </button>
                <t32-audit-view-button
                    schema-name="Patient"
                    clinic-id="patient.clinic_id"
                    subject-id="patient._id">
                </t32-audit-view-button>
         </div>
    </div>
    <div class="row">
        <div class="col-md-12"style="height: 30px;"></div>
    </div> 
</div>

