<div class="container-fluid" style="padding: 20px;">
    <h3 style="text-align: center">Record Conflicts - {{title}}</h3>
    <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance">
    </t32-popup-closer>
    <div class="col-md-12">
        <p>
            The following records were already found in the EHR or were overwritten by another user. They have been renamed.
        </p>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 table-bordered" style="background: #ddd; border: 1px solid #eee;">
            Old Value
        </div>
        <div class="col-md-6 table-bordered" style="background: #ddd; border: 1px solid #eee;">
            New Value
        </div>
    </div>
    <div class="col-md-12" ng-repeat="conflict in conflictsArray">
        <div class="col-md-6 table-bordered" style="border: 1px solid white">
            {{conflict.oldVal}} 
        </div>
        <div class="col-md-6 table-bordered" style="border: 1px solid white">
            {{conflict.newVal}} 
        </div>
    </div>
    <div class="col-md-12" style="text-align: right; margin-top: 10px;">
        <button class="btn btn-sm btn-success" ng-click="confirm()">Okay</button>
    </div>
</div>