<div class="modal-header pb-0 border-0" *ngIf="isModal">
    <h5>&nbsp;</h5>
    <app-popup-closer [modalInstance]="modal"></app-popup-closer>
</div>


<!-- <div class="rounded text-center login card my-5 shadow-sm"> -->
<div class="rounded text-center modal-body pt-3">
    <div class="row">
        <div class="col-12">
            <img src="./assets/img/imaging-studio-logo.png" width="100%" height="auto" alt="Tab32">
        </div>
    </div>
    <div class="row mb-5">
        <!-- <div class="col-12 text-center">
            Dental EHR
        </div>
        <hr class="w-50"> -->
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-danger" (click)="signIn()" [disabled]="signInAttempt">
                <span>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </span>
                &nbsp;
                Sign In
            </button>
        </div>
        <!-- <hr class="w-50"> -->
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <button class="btn btn-sm btn-link">
                Need Help?
            </button>
        </div>
    </div>
</div>
