<div class="canvas-container" id="canvas-main-container">
  <!-- <t32-signature-pad height=363 width=725 pen-color="penColor" line-width="lineWidth" accept="saveCanvas" dataurl="dataUrl" style="position: absolute; left:0; z-index: 101" clear="clearCanvas"></t32-signature-pad> -->
  <div class="signature" id="canvas-pad-container" ng-style="canvasDimensions">
    <canvas height="{{ height }}" width="{{ width }}" id="canvas-pad"></canvas>
  </div>
  <div class="col-md-12">
    <a href="" ng-click="undo()" ng-style="changeUndoStatus">
      <span>
        <i class="fa fa-2x fa-undo"></i>
      </span>  
    </a>
    &nbsp;
    <a href="" ng-click="redo()" ng-style="changeRedoStatus">
      <span>
        <i class="fa fa-2x fa-repeat"></i>
      </span>  
    </a>
    &nbsp;
    &nbsp;
    <!-- <a href="" ng-click="erase()">
      <span>
          <i class="fa fa-2x fa-eraser"></i>
      </span>
    </a> -->
    &nbsp;
    &nbsp;
    <div id="canvas-color-selector-container">
      <div class="canvas-color-selectors" id="canvas-black"  ng-click="selectColor('black')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-red"    ng-click="selectColor('red')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-lime" ng-click="selectColor('lime')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-green"  ng-click="selectColor('green')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-blue"   ng-click="selectColor('blue')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-purple" ng-click="selectColor('purple')">&nbsp;</div>
      <div class="canvas-color-selectors" id="canvas-orange" ng-click="selectColor('orange')">&nbsp;</div>
    </div>
    &nbsp;
    &nbsp;
    <div class="canvas-eraser-div">
      <!-- <i class="fa fa-2x fa-eraser" ng-show="eraserMode" style="font-size: 1.4em;"></i> -->
      <i class="fa fa-2x fa-paint-brush" ng-show="!eraserMode" ng-style="color" style="font-size: 1.4em; transform: rotate(280deg);"></i>
    </div>
    <input type="range" min="5" max="50" ng-model="lineThicknessScaleValue" class="canvas-line-thickness-slider" style="display: inline; width:75px;">
    <!-- <input type="range" min="5" max="500" ng-model="eraserThicknessScaleValue" class="canvas-line-thickness-slider" ng-show="eraserMode" style="display: inline; width:75px;"> -->
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="col-md-3 pull-right" id="canvas-button-container">
      <button class="btn btn-danger" ng-click="clear()" ng-disabled="enterView">
        Clear All
      </button>
    </div>
  </div>
  <!-- <img ng-src="{{dataUrl}}"> -->
</div> 