<div class="modal-header">
    <h5 class="m-0">
        Offline Data Upload
    </h5>
    <app-popup-closer [modalInstance]="modal"></app-popup-closer>
</div>
<div class="modal-body pt-2">
    <div class="row mb-2">
        <div class="col-12 text-right">
            <button class="btn btn-sm btn-outline-primary" (click)="openPreviousUploads()">
                <span class="fa fa-tasks"></span>&nbsp;Previous Uploads
            </button>
            <button appDebounceClick (debounceClick)="uploadAll()" [debounceTime]="600" class="btn btn-sm btn-outline-primary ml-2" [disabled]="isAllUploaded()">
                <span class="fa fa-cloud-upload"></span>&nbsp;Upload All
            </button>
        </div>
    </div>
    <div class="div-table card">
        <div class="div-th-striped">
            <div class="row d-flex justify-content-between">
                <div class="col-3 font-weight-bold">
                    Patient 
                </div>
                <div class="col-3 font-weight-bold">
                    Dob
                </div>
                <div class="col-2 font-weight-bold">
                    Notes
                </div>
                <div class="col-2 font-weight-bold">
                    Treatments
                </div>
                <div class="col-2 font-weight-bold"></div>
                <!-- <div class="col-2">
                    <button class="btn btn-sm btn-outline-primary">
                        Upload All
                    </button>
                </div> -->
            </div>
        </div>
        <div class="div-td" *ngFor="let record of uploadableRecords">
            <div class="row">
                <div class="col-3">
                    {{record.patientName}}
                    <span *ngIf="record.isOffline" class="badge badge-warning">New</span>
                </div>
                <div class="col-3">
                    {{record.patientDob | date: 'MM/dd/yyyy'}}
                </div>
                <div class="col-2">
                    {{record.uploadData?.noteCount}}
                </div>
                <div class="col-2">
                    {{record.uploadData?.treatmentCount}}
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-sm btn-outline-primary ml-2" appDebounceClick (debounceClick)="upload(record)" [debounceTime]="600" [disabled]="record.isUploading" *ngIf="!record.isComplete">
                        <span class="fa fa-spinner fa-spin" *ngIf="record.isUploading"></span>
                        <span class="fa fa-cloud-upload" *ngIf="!record.isUploading && !record.isComplete"></span>
                    </button>
                    <button class="btn btn-sm btn-outline-success ml-2" *ngIf="record.isComplete">
                        <span class="fa fa-check"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>