<div class="row">
    <form class="col" [formGroup]="quickSearchForm" (ngSubmit)="handleSubmission()">
        <div class="row">
            <div class="form-group col-4">
                <label>Location</label>
                <app-location-picker 
                    [currentLocation]="quickSearchForm.value.location"
                    (onSelect)="setValue($event, 'location')"
                ></app-location-picker>
            </div>
    
            <!-- <div class="form-group col-3">
                <label>Select by</label>
                <select class="form-control form-control-sm" formControlName="selectionType" name="" id="">
                    <option value="all">All</option>
                    <option value="age">Age</option>
                    <option value="aptDate">Appointment Date</option>
                </select>
            </div> -->

            <div class="form-group col-3">
                <div *ngIf="quickSearchForm.get('selectionType').value == 'all' || quickSearchForm.get('selectionType').value == ''">
                    <label>&nbsp;</label>
                    <input class="form-control form-control-sm" disabled>
                </div>
                <div *ngIf="quickSearchForm.get('selectionType').value == 'age'">
                    <label>Age</label>
                    <select class="form-control form-control-sm" formControlName="selectionCriteria">
                        <option value=""></option>
                        <option value="under18">Below 18</option>
                        <option value="adults">18 and above</option>
                    </select>
                </div>

                <div *ngIf="quickSearchForm.get('selectionType').value == 'aptDate'">
                    <label>Appointment Date</label>
                    <app-date-picker (onSelect)="setValue($event, 'selectionCriteria')"></app-date-picker>
                </div>
            </div>
            
            <div class="form-group col-2 text-right">
                <label class="d-block">&nbsp;</label>
                <button appDebounceClick (debounceClick)="handleSubmission()" [debounceTime]="600" class="btn btn-primary btn-sm btn-block">Download</button>
            </div>
        </div>
    </form>
</div>