<divng-show="show">
    <span><b>Rotation Settings</b></span>
    <div class="input-group">
        <select ng-options="item as item.name for item in rotationSettings | filter:isFromLoggedInClinic" ng-model="currentRotationSetting" ng-change="onChange()" class="form-control">
            <!-- <option value="">Select Rotation Setting</option> -->
        </select>
        <div class="input-group-addon" tooltip="Edit Rotation Setting" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="onEdit($event)">
            <a href="#">
                <span>
                    <i class="fa fa-pencil fa-lg warning-edit"></i>
                </span>
            </a>
        </div>
        <div class="input-group-addon" tooltip="Add Rotation Setting" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="onCreate($event)">
            <a href="#">
                <span>
                    <i class="fa fa-plus fa-lg"></i>
                </span>
            </a>
        </div>
        <div class="input-group-addon" tooltip="Delete Rotation Setting" tooltip-placement="top" tooltip-trigger="mouseenter"  ng-click="onDelete($event)">
            <a href="#">
                <span>
                    <i class="fa fa-trash fa-lg" style="color:red;"></i>
                </span>
            </a>
        </div>
    </div>
</div>