<div class="container-fluid xray-auto-rotate-settings-container">
    <!-- <div class="row content-title-container" style="margin: 0">
        <div class="col-sm-3 branding">
            <h4>
                Rotation Settings
            </h4>
        </div>
        <div class="col-sm-9" style="padding-top: 4px">
            <button class="btn btn-sm btn-success" ng-show="isChanged && !formErrors" ng-click="saveRotationSetting()">
                <span class="fa fa-save"></span>
                &nbsp;Save
            </button>
        </div>
    </div> -->
    <t32-page-header 
      title-text="titleText"
      title-container-style="titleStyle" 
      menu-target="#xray-auto-rotate-create-collapse"
      menu-bar-len="{{menuBarLen}}"
      title-child-div-class="titleChildDivClass">
    </t32-page-header>

    <t32-popup-closer special-close="cancel()">
    </t32-popup-closer>

    <div class="row" style="margin: 0">
        <div class="col-md-12 xray-auto-rotate-settings-container">
            <div class="col-md-3 content-sidebar">
                <nav id="xray-auto-rotate-create-sidebar">
                    <div class="large-header pt-5 pb-5">
                        <form name="rotationSettingsCreateForm" id="rotationSettingsCreateForm" ng-model="rotationSettingsCreateForm">
                            <label>
                                Setting Name:
                                <input type="text" required ng-minlength="3" name="name" ng-model="currentRotationSetting.name" ng-change="handleNameChange()" style="max-width: 100px">
                            </label>
                            <div ng-if="rotationSettingsCreateForm.name.$invalid" style="color:red; display: inline-block;">
                                <div ng-if="rotationSettingsCreateForm.name.$error.required">Name is required</div>
                                <div ng-if="rotationSettingsCreateForm.name.$error.minlength">Name should be greater than 3 characters </div>
                            </div>
                        </form>
                    </div>
                    <div id="xray-auto-rotate-create-collapse" class="collapse" style="overflow: auto">
                        <ul class="list-unstyled components list-wrapper" style="min-height: calc(80vh - 40px); max-height: calc(80vh - 40px);">
                            <li class="list-item" ng-repeat="(key, value) in currentRotationSetting.setting" ng-click="showSubSetting(value.setting)"
                                ng-class="isSelected(value.setting)" ng-model="selectedSubSetting" style="font-size: 12px;">
                                {{value.name}}
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>

            <div class="col-md-9" style="min-height:80vh; max-height:80vh; overflow-y: auto;">
                <div class="row clearfix">
                    <div class="col-sm-12" style="padding-top: 4px">
                        <button class="btn btn-sm btn-success pull-right" ng-show="isChanged && !formErrors" ng-click="saveRotationSetting()">
                            <span class="fa fa-save"></span>
                            &nbsp;Save
                        </button>
                    </div>
                </div>
                <div style="padding-top: 15px;">
                    <div class="col-sm-12 card card-container" ng-repeat="(key, value) in selectedSubSetting">
                        <h5>
                            {{key | xrayName}}
                        </h5>
                        <div class="col-sm-6">
                            <div>
                                <input type="radio" name="{{key}}" ng-model="selectedSubSetting[key]" value="0" ng-click="setIsChanged()">&nbsp;None
                            </div>
                            <div>
                                <input type="radio" name="{{key}}" ng-model="selectedSubSetting[key]" value="90" ng-click="setIsChanged()">&nbsp;Right
                            </div>
                            <div>
                                <input type="radio" name="{{key}}" ng-model="selectedSubSetting[key]" value="-90" ng-click="setIsChanged()">&nbsp;Left
                            </div>
                            <div>
                                <input type="radio" name="{{key}}" ng-model="selectedSubSetting[key]" value="180" ng-click="setIsChanged()">&nbsp;Upside Down
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img ng-value="{{key}}" ng-style="rotate(key)" src="img/multi_teeth_xray_icon.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>