<div class="position-absolute bg-white rounded-circle home-btn-contianer">
    <button class="btn btn-outline-primary btn-sm mb-1 rounded-circle" routerLink="/">
        <span class="fa fa-home"></span>
    </button>
</div>