.height-150{
    height: 150px;
} 

.width-150{
    width: 150px;
}

.min-width-200{
    min-width: 200px;
}

.max-width-200{
    max-width: 200px;
}

.bg-dark {
    background-color: black !important;
}