<div class="d-flex flex-column h-100" *ngIf="xrays; else loading">
    <div class="mb-1">
        <div class="row">
            <div class="col-2 min-width-200 max-width-200">
                <button class="btn btn-sm btn-link" (click)="location.back()">
                    <span class="fa fa-chevron-circle-left"></span>
                    Back to patient
                </button>
            </div>
            <div class="col d-flex pl-0">
                <div class="col pl-0">
                    <small class="text-secondary">Select Xray Date</small>
                    <p>
                        <select class="form-control form-control-sm" [(ngModel)]="selectedDate">
                            <option *ngFor="let xrayDate of xrayDates">{{xrayDate}}</option>
                        </select>
                    </p>
                </div>
                <div class="col">
                    <small class="text-secondary">Name</small>
                    <p>
                        {{patient?.name}}
                    </p>
                </div>
                <div class="col">
                    <small class="text-secondary">Chart Id</small>
                    <p>
                        {{patient?.chartId}}
                    </p>
                </div>
                <div class="col">
                    <small class="text-secondary">Selected Image</small>
                    <p>
                        {{selectedXray.filename | titlecase}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2 overflow-auto min-width-200 max-width-200">
            <div class="mb-1" *ngFor="let xrayPath of xrays[selectedDate]" (click)="selectXray(xrayPath)">
                <div class="p-2 bg-dark border border-primary rounded text-center height-150 width-150" >
                   <img class="img-fluid mh-100" [src]="xrayPath.filePath | safe:'url'" alt="xray image">
                </div>
                <div>
                    <small>
                        {{xrayPath.filename | titlecase}}
                    </small>
                </div>
            </div>
            <!-- <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div>
            <div class="p-5 bg-dark mb-1 rounded">
               <img class="img-fluid" src="" alt="xray image">
            </div> -->
        </div>
        <div class="col pl-0">
            <div class="h-100 bg-dark rounded p-4 text-center">
                <img class="img-fluid mh-100" [src]="selectedXray.filePath | safe: 'url'" alt="Selected xray image" *ngIf="selectedXray">
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row h-100">
        <div class="col text-center p-5">
            <app-loading-view></app-loading-view>
            <small class="d-block mt-2">Loading xrays</small>
        </div>
    </div>
</ng-template>