<t32-page-header 
    title-img="titleImg" 
    title-container-style="titleStyle" 
    title-img-style="titleImgStyle">
</t32-page-header>
<div class="container-fluid container-zoom" style="padding: 20px 40px 20px 40px;"> 
    <div>
        <div class="col-sm-1" style="position: absolute; z-index: 99999; padding: 0;">
            <button class="btn btn-sm btn-info" ng-show="inEditMode && !inCreateMode" ng-click="editTemplate()">Back</button>
            
            <button class="btn btn-sm btn-info" ng-show="inCreateMode && !inEditMode" ng-click="createTemplate()">Back</button>
        </div>  
        <!-- <div style="margin-top: 10px;"></div> -->
        <t32-popup-closer special-close="cancel()" style="z-index: 1000;" class="template-popup-closer">
        </t32-popup-closer>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" ng-if="selectedPatient" style="padding:0; font-size: 2em; text-align: center; margin-bottom: 10px;">
            <label style="margin: 0">
                <!-- <b><span tooltip="Chart Id: {{selectedPatient.clinicData.chartId}}" tooltip-placement="bottom" tooltip-trigger="mouseenter"><i class="fa fa-vcard"></i></span></b>  -->
                <a href="#" 
                    tooltip="Chart Id: {{selectedPatient.clinicData.chartId}}" tooltip-placement="bottom" tooltip-trigger="mouseenter"
                    t32-edit-patient-trigger 
                    patient="selectedPatient">
                    <b >{{selectedPatient.name}}</b>
                </a>&nbsp;
                <!-- <b>Chart Id:</b> {{selectedPatient.clinicData.chartId}} -->
            </label>
        </div>
        <div class="col-sm-4" ng-if="!selectedPatient && selectedFolder" style="padding:0; font-size: 2em; text-align: center; margin-bottom: 10px;">
            <!-- <b><i class="fa fa-vcard"></i></b>&nbsp;{{patientInfoString}} -->
            <!-- <img src="img/dental-record.svg" width="40px" ></i>&nbsp; -->
            <b>{{patientInfoString}}</b>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-12 edit-panel-container">
            <div class="col-sm-12" style="padding:0">
                <div class="col-sm-3" id="template-edit-panel">
                    <span>
                        <b ng-if="!inEditMode && !inCreateMode">Template Selection</b>
                        <b ng-if="inEditMode  && !inCreateMode">Edit Template</b>
                        <b ng-if="!inEditMode && inCreateMode">Create Template</b>
                    </span>
                    <!-- **Leave the two divs here for smoother transitions** -->
                    <div class="input-group" ng-show="!inCreateMode">
                        <select id="edit-panel-select" class="form-control" ng-model="template" ng-disabled="inEditMode" ng-options="template as template.templateName for template in templates | filter:isFromLoggedInClinic" ng-change="onTemplateSelect()">
                        </select>
                
                        <!-- <input ng-model="newTemplate.templateName" class="form-control" ng-if="inCreateMode && !inEditMode" placeholder="template name"></input> -->
    
                        <div class="input-group-addon" tooltip="Edit Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#" ng-hide="!template || inCreateMode" ng-click="editTemplate($event)">
                                <span>
                                    <i class="fa fa-pencil fa-lg warning-edit"></i>
                                </span>
                            </a>
                            <a href="#" ng-show="inCreateMode" >
                                <span>
                                    <i class="fa fa-pencil fa-lg warning-edit" style="color: dimgray"></i>
                                </span>
                            </a>
                        </div>
                        
                        <div class="input-group-addon" tooltip="Create Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#" ng-show="!inEditMode" ng-click="createTemplate($event)">
                                <span>
                                    <i class="fa fa-plus fa-lg"></i>
                                </span>
                            </a>
                            <a href="#" ng-show="inEditMode">
                                <span>
                                    <i class="fa fa-plus fa-lg" style="color: dimgray"></i>
                                </span>
                            </a>
                        </div>

                        <div class="input-group-addon" tooltip="Delete Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#" ng-show="!inCreateMode" ng-click="deleteTemplate($event)">
                                <span>
                                    <i class="fa fa-trash fa-lg" style="color:red;"></i>
                                </span>
                            </a>
                            <a href="#" ng-show="inCreateMode">
                                <span>
                                    <i class="fa fa-trash fa-lg" style="color:dimgray;"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="input-group" ng-show="inCreateMode && !inEditMode">
                        <!-- <select id="edit-panel-select" class="form-control" ng-model="template" ng-if="!inCreateMode" ng-disabled="inEditMode" ng-options="template as template.templateName for template in templates | filter:isFromLoggedInClinic">
                        </select> -->
                
                        <input ng-model="newTemplate.templateName" class="form-control" ng-if="inCreateMode && !inEditMode" placeholder="template name"></input>
                        <div class="input-group-addon" tooltip="Edit Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#">
                                <span>
                                    <i class="fa fa-pencil fa-lg warning-edit" style="color: dimgray"></i>
                                </span>
                            </a>
                        </div>
                        
                        <div class="input-group-addon" tooltip="Create Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#" ng-click="createTemplate($event)">
                                <span>
                                    <i class="fa fa-plus fa-lg"></i>
                                </span>
                            </a>
                        </div>

                        <div class="input-group-addon" tooltip="Delete Template" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <a href="#">
                                <span>
                                    <i class="fa fa-trash fa-lg" style="color:dimgray;"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-sm-1"></div> -->

                <div class="col-sm-3" id="rotation-edit-panel" ng-show="!inCreateMode && !inEditMode">
                    <t32-xray-auto-rotate-dropdown 
                        current-rotation-setting="currentRotationSetting" 
                        rotation-settings="rotationSettings" 
                        deleted-rotation-settings="deletedRotationSettings" 
                        clinic-id="clinic_id"
                        settings="setting" 
                        on-selection-change="onSelecitonChange()"
                        show="!inCreateMode && !inEditMode">
                    </t32-xray-auto-rotate-dropdown>
                </div>


                <!-- <div class="col-sm-1" ng-show="!inCreateMode && !inEditMode"></div> -->

                <div class="col-sm-3" id="driver-selection-panel" ng-show="!inCreateMode && !inEditMode && !setting.simulation">
                    <t32-xray-studio-driver-list
                        selected-driver="selectedDriver">
                    </t32-xray-studio-driver-list>
                </div>

                <div class="col-sm-3" ng-show="setting.simulation">&nbsp;</div>

                <!-- <div class="col-xs-1" ng-show="!inCreateMode && !inEditMode"></div> -->

                <div class="edit-panel-selection-container col-sm-3" ng-if="!inEditMode && !inCreateMode">
                    <span>
                        <b>
                            Xray Operations
                        </b>
                    </span>
                    <div>
                        <button class="btn btn-sm btn-info" ng-click="showPreviousXrays()" ng-if="selectedPatient">Previous</button>
                        
                        <button class="btn btn-sm btn-primary" ng-click="onUpload()" ng-show="checkForPhotos() && !inCreateMode && !inEditMode && template">
                            Upload
                        </button>
                        <button class="btn btn-sm btn-warning" 
                            t32-xray-image-edit 
                                active-image-cell="{{activeImageCell}}"   
                                xray-images="photosHash" 
                                applied-images="appliedPhotos"
                                overflow-images="photos" 
                                current-template="template" 
                                selected-folder="selectedFolder" 
                                selected-patient="selectedPatient"
                                clinic-id="clinic_id" 
                                settings="setting"
                                image-settings="imageSettings" 
                                after-edit="afterEdit(result)" 
                                ng-show="appliedPhotos.length && !inCreateMode && !inEditMode">
                            Edit
                        </button>
    
                        <button ng-if="!setting.simulation" ng-show="template && !startXray" class="btn btn-sm btn-success editing-buttons" ng-click="onNewXray('start')">Take</button>
                    
                        <button ng-if="setting.simulation" ng-show="template" class="btn btn-sm btn-success editing-buttons" ng-click="onNewXray('start')">Take</button>
    
                        <button ng-show="template && startXray && !setting.simulation" class="btn btn-sm btn-danger editing-buttons" ng-click="onNewXray('stop')">Stop Xray</button>
                    </div>
                </div>

                <div class="edit-panel-selection-container col-sm-3 pull-right" ng-if="inCreateMode || inEditMode">
                    <span>
                        <b>
                            &nbsp;
                        </b>
                    </span>
                    <div>
                        <button ng-click="removeAllSelections()" class="btn btn-sm btn-danger editing-buttons">Clear</button>
                    
                        <!-- <button ng-click="selectAllSelections()" class="btn btn-sm btn-info editing-buttons">Select All</button> -->
                    
                        <!-- <button ng-show="inEditMode" ng-click="deleteTemplate()" class="btn btn-sm btn-danger editing-buttons">Delete Template</button> -->
                    
                        <button ng-click="saveTemplate()" class="btn btn-sm btn-success editing-buttons">Save Template</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 xray-auto-rotate-settings-container" style="padding-top: 10px;">
                <t32-xray-auto-rotate-dropdown 
                    current-rotation-setting="currentRotationSetting"
                    rotation-settings="rotationSettings" 
                    deleted-rotation-settings="deletedRotationSettings"
                    clinic-id="clinic_id"
                    on-selection-change="onSelecitonChange()">
                </t32-xray-auto-rotate-dropdown>
            </div> -->
        </div>
        <div class="clearfix"></div>
        <div tabset id="tabset">
            <div class="pull-right" style="margin-bottom: -15px;">
                <button class="btn btn-sm btn-primary" tooltip="Previous Cell" tooltip-placement="bottom" tooltip-trigger="mouseenter" ng-click="previousTemplateCell()" ng-show="!inEditMode && !inCreateMode">
                    <i class="fa fa fa-arrow-left"></i>
                </button>
                <button class="btn btn-sm btn-primary" tooltip="Next Cell" tooltip-placement="bottom" tooltip-trigger="mouseenter" ng-click="nextTemplateCell()" ng-show="!inEditMode && !inCreateMode">
                    <i class="fa fa fa-arrow-right"></i>
                </button>
            </div>
            <div tab heading="Xray" id="xray" ng-click="onChartChange('xray')">
                <div class="well well-lg t32-xray-background" style="text-align: center;">
                    <div class="xray-chart-container" class="col-lg-12">
                        <div class="xray-inner-chart-container" class="col-md-12" style="overflow:hidden;">
                            <div class="col-lg-12">
                                <div class="maxillary-right-container col-lg-3">
                                    <div>  
                                        <div xray-drag target-id="id_max_right_iop_1" id="id_max_right_iop_1" class="maxillary-right-iop"><span>Max Right IOP</span></div>
                                        <div xray-drag target-id="id_max_right_iop_2" id="id_max_right_iop_2" class="maxillary-right-iop"><span>Max Right IOP</span></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_max_right_post_pa_3" id="id_max_right_post_pa_3" class="maxillary-right-pa"><span>Max Right PA</span></div>
                                        <div xray-drag target-id="id_max_right_post_pa_4" id="id_max_right_post_pa_4" class="maxillary-right-pa"><span>Max Right PA</span></div>
                                    </div>
                                    <div>
                                        <div class="maxillary-right-empty"></div>
                                        <div class="maxillary-right-empty"></div>  
                                    </div>
                                </div>
                            
                                <div class="maxillary-anterior-container col-lg-6">

                                    <div>
                                        <div xray-drag target-id="id_max_anterior_iop_1" id="id_max_anterior_iop_1" class="maxillary-anterior-iop">
                                            <span>Max Ant IOP</span>
                                        </div>
                                        <div xray-drag target-id="id_max_anterior_iop_2" id="id_max_anterior_iop_2" class="maxillary-anterior-iop"><span>Max Ant IOP</span></div>
                                        <div xray-drag target-id="id_max_anterior_iop_3" id="id_max_anterior_iop_3" class="maxillary-anterior-iop"><span>Max Ant IOP</span></div> 
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_max_anterior_pa_4" id="id_max_anterior_pa_4" class="maxillary-anterior-pa"><span>Max Ant PA</span></div>
                                        <div xray-drag target-id="id_max_anterior_pa_5" id="id_max_anterior_pa_5" class="maxillary-anterior-pa"><span>Max Ant PA</span></div>
                                        <div xray-drag target-id="id_max_anterior_pa_6" id="id_max_anterior_pa_6" class="maxillary-anterior-pa"><span>Max Ant PA</span></div> 
                                    </div>
                                </div>
                            
                                <div  class="maxillary-left-container col-lg-3">
                                    <div>
                                        <div xray-drag target-id="id_max_left_iop_1" id="id_max_left_iop_1" class="maxillary-left-iop"><span>Max Left IOP</span></div>
                                        <div xray-drag target-id="id_max_left_iop_2" id="id_max_left_iop_2" class="maxillary-left-iop"><span>Max Left IOP</span></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_max_left_post_pa_3" id="id_max_left_post_pa_3"class="maxillary-left-pa"><span>Max Left PA</span></div>
                                        <div xray-drag target-id="id_max_left_post_pa_4" id="id_max_left_post_pa_4"class="maxillary-left-pa"><span>Max Left PA</span></div>
                                    </div>
                                    <div>
                                        <div class="maxillary-left-empty"></div>
                                        <div class="maxillary-left-empty"></div>
                                    </div>
                                </div>
                            </div>
                                        
                            <div class="col-lg-12 bite-wing-container">
                                <div class="col-lg-3" style="display: inline-block;">
                                    <div style="display: inline-block;">
                                        <div xray-drag target-id="id_right_bw_1" id="id_right_bw_1" class="bite-wing-right"><span>BW Right</span></div>
                                        <div xray-drag target-id="id_right_bw_2" id="id_right_bw_2" class="bite-wing-right"><span>BW Right</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6" style="display: inline-block;">
                                    <div style="display: inline-block;">
                                        <!-- <div class="bite-wing-empty">
                                            
                                        </div> -->
                                        <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                        </div>
                                        <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                        </div>
                                        <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="display: inline-block;">
                                    <div style="display: inline-block;">
                                        <div xray-drag target-id="id_left_bw_1" id="id_left_bw_1" class="bite-wing-left"><span>BW Left</span></div>
                                        <div xray-drag target-id="id_left_bw_2" id="id_left_bw_2" class="bite-wing-left"><span>BW Left</span></div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="col-lg-12">
                                <div class="mandibular-right-container col-lg-3">
                                    <div>
                                        <div class="mandibular-right-empty"></div>
                                        <div class="mandibular-right-empty"></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_mandibular_right_post_pa_1" id="id_mandibular_right_post_pa_1" class="mandibular-right-pa"><span>Man Right PA</span></div>
                                        <div xray-drag target-id="id_mandibular_right_post_pa_2" id="id_mandibular_right_post_pa_2" class="mandibular-right-pa"><span>Man Right PA</span></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_mandibular_right_iop_3" id="id_mandibular_right_iop_3" class="mandibular-right-iop"><span>Man Right IOP</span></div>
                                        <div xray-drag target-id="id_mandibular_right_iop_4" id="id_mandibular_right_iop_4" class="mandibular-right-iop"><span>Man Right IOP</span></div>
                                    </div>
                                </div>
                            
                                <div class="mandibular-anterior-container col-lg-6">
                                    <div>
                                        <div xray-drag target-id="id_mandibular_anterior_pa_1" id="id_mandibular_anterior_pa_1" class="mandibular-anterior-pa"><span>Man Ant PA</span></div>
                                        <div xray-drag target-id="id_mandibular_anterior_pa_2" id="id_mandibular_anterior_pa_2" class="mandibular-anterior-pa"><span>Man Ant PA</span></div>
                                        <div xray-drag target-id="id_mandibular_anterior_pa_3" id="id_mandibular_anterior_pa_3" class="mandibular-anterior-pa"><span>Man Ant PA</span></div> 
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_mandibular_anterior_iop_4" id="id_mandibular_anterior_iop_4" class="mandibular-anterior-iop"><span>Man Ant IOP</span></div>
                                        <div xray-drag target-id="id_mandibular_anterior_iop_5" id="id_mandibular_anterior_iop_5" class="mandibular-anterior-iop"><span>Man Ant IOP</span></div>
                                        <div xray-drag target-id="id_mandibular_anterior_iop_6" id="id_mandibular_anterior_iop_6" class="mandibular-anterior-iop"><span>Man Ant IOP</span></div> 
                                    </div>
                                </div>
                            
                                <div  class="mandibular-left-container col-lg-3">
                                    <div>
                                        <div class="mandibular-left-empty"></div>
                                        <div class="mandibular-left-empty"></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_mandibular_left_post_pa_1" id="id_mandibular_left_post_pa_1" class="mandibular-left-pa"><span>Man Left PA</span></div>
                                        <div xray-drag target-id="id_mandibular_left_post_pa_2" id="id_mandibular_left_post_pa_2" class="mandibular-left-pa"><span>Man Left PA</span></div>
                                    </div>
                                    <div>
                                        <div xray-drag target-id="id_mandibular_left_iop_3" id="id_mandibular_left_iop_3" class="mandibular-left-iop"><span>Man Left IOP</span></div>
                                        <div xray-drag target-id="id_mandibular_left_iop_4" id="id_mandibular_left_iop_4" class="mandibular-left-iop"><span>Man Left IOP</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div ng-include src="../template/xrayChart.html"></div> -->
                </div>
            </div>
            <div tab heading="Pano" id="panoView" ng-click="onChartChange('panoView')">
                <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                    <div class="pano-chart-container col-lg-12">
                        <div class="pano-inner-chart-container col-lg-12">
                            <div class="pano-1-container">
                                <div xray-drag target-id="id_pano" id="id_pano" class="pano-1"><span>Pano</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab heading="Ortho" id="orthoView" ng-click="onChartChange('orthoView')">
                <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                    <div class="ortho-chart-container col-lg-12">
                        <div class="ortho-inner-chart-container col-lg-12">
                            <div class="profile-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                                <div class="col-lg-6 profile-container">
                                    <div xray-drag target-id="id_profile_1" id="id_profile_1"  class="col-lg-4 profile"><span>Profile 1</span></div>
                                    <div xray-drag target-id="id_profile_2" id="id_profile_2"  class="col-lg-4 profile"><span>Profile 2</span></div>
                                    <div xray-drag target-id="id_profile_3" id="id_profile_3"  class="col-lg-4 profile"><span>Profile 3</span></div>
                                </div>
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                            </div>
                            <div class="jaw-inside-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                                <div class="col-lg-6 jaw-inside-container">
                                    <div xray-drag target-id="id_jaw_inside_1" id="id_jaw_inside_1"  class="col-lg-4 jaw-inside"><span>Jaw Inside 1</span></div>
                                    <div id="jaw-inside-empty" class="col-lg-4"></div>
                                    <div xray-drag target-id="id_jaw_inside_2" id="id_jaw_inside_2"  class="col-lg-4 jaw-inside"><span>Jaw Inside 2</span></div>
                                </div>
                                <div class="col-lg-3 empty-div-container" style="display:none;">

                                </div>
                            </div>
                            <div class="jaw-outside-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;"></div>
                                <div class="col-lg-6 jaw-outside-container">
                                    <div xray-drag target-id="id_jaw_outside_1" id="id_jaw_outside_1"  class="col-lg-4 jaw-outside"><span>Jaw Outside 1</span></div>
                                    <div xray-drag target-id="id_jaw_outside_2" id="id_jaw_outside_2"  class="col-lg-4 jaw-outside"><span>Jaw Outside 2</span></div>
                                    <div xray-drag target-id="id_jaw_outside_3" id="id_jaw_outside_3"  class="col-lg-4 jaw-outside"><span>Jaw Outside 3</span></div>
                                </div> 
                                <div class="col-lg-3 empty-div-container" style="display:none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab heading="CEPH" id="cephView" ng-click="onChartChange('cephView')">
                    <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                        <div class="ceph-chart-container col-lg-12">
                            <div class="ceph-inner-chart-container col-lg-12">
                                <div class="ceph-1-container">
                                    <div xray-drag target-id="id_ceph" id="id_ceph" class="ceph-1"><span>CEPH</span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-12 photo-panel-container t32-xray-background well well-lg">
            <div class="col-lg-10">
                <ul class="nav1" style="height: auto">
                    <li ng-repeat="photo in photos" ng-class="{'active': isActive($index)}" style="height: auto;">
                        <div xray-drag target-id="{{photo.fileId}}" overflow-img="true">
                            <img
                            fileDesc="{{photo.fileDesc}}"
                            fileName="{{photo.fileName}}"
                            originalFileName="{{photo.originalFileName}}"
                            ng-src="{{photo.src}}" 
                            alt="{{photo.desc}}" 
                            title="{{photo.desc}}" 
                            style="display:inline-block;"
                            ng-click="showPhoto($index);" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>