<div class="xray-chart-container" class="col-md-12">
    <div>
        <div class="maxillary-right-container">
            <div>  
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-right-iop-1" class="maxillary-right-iop">Max Right IOP
                    <div class="xray-img-container" ng-click="rotate()">
                        
                    </div>
                </div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-right-iop-2" class="maxillary-right-iop">Max Right IOP</div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-right-pa-1" class="maxillary-right-pa">Max Right PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-right-pa-2" class="maxillary-right-pa">Max Right PA</div>
            </div>
            <div>
                <div class="maxillary-right-empty"></div>
                <div class="maxillary-right-empty"></div>  
            </div>
        </div>
    
        <div class="maxillary-anterior-container">
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-iop-1" class="maxillary-anterior-iop">Max Ant IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-iop-2" class="maxillary-anterior-iop">Max Ant IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-iop-3" class="maxillary-anterior-iop">Max Ant IOP</div> 
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-pa-1" class="maxillary-anterior-pa">Max Ant PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-pa-2" class="maxillary-anterior-pa">Max Ant PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-ant-pa-3" class="maxillary-anterior-pa">Max Ant PA</div> 
            </div>
        </div>
    
        <div  class="maxillary-left-container">
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-left-iop-1"class="maxillary-left-iop">Max Left IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-left-iop-2"class="maxillary-left-iop">Max Left IOP</div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-left-pa-1"class="maxillary-left-pa">Max Left PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="max-left-pa-2"class="maxillary-left-pa">Max Left PA</div>
            </div>
            <div>
                <div class="maxillary-left-empty"></div>
                <div class="maxillary-left-empty"></div>
            </div>
        </div>
    </div>
        
    <div>
        <div class="bite-wing-container">
            <div style="display: inline-block;">
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="bw-right-1" class="bite-wing-right">BW Right</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="bw-right-2" class="bite-wing-right">BW Right</div>
            </div>

            <div style="display: inline-block;">
                <div class="bite-wing-empty"></div>
                <div class="bite-wing-empty"></div>
            </div>

            <div style="display: inline-block;">
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="bw-left-1" class="bite-wing-left">BW Left</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="bw-left-2" class="bite-wing-left">BW Left</div>
            </div>
        </div>
    </div>
        
    <div>
        <div class="mandibular-right-container">
            <div>
                <div class="mandibular-right-empty"></div>
                <div class="mandibular-right-empty"></div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-right-pa-1" class="mandibular-right-pa">Man Right PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-right-pa-2" class="mandibular-right-pa">Man Right PA</div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-right-iop-1" class="mandibular-right-iop">Man Right IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-right-iop-2" class="mandibular-right-iop">Man Right IOP</div>
            </div>
        </div>
    
        <div class="mandibular-anterior-container">
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-pa-1" class="mandibular-anterior-pa">Man Ant PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-pa-2" class="mandibular-anterior-pa">Man Ant PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-pa-3" class="mandibular-anterior-pa">Man Ant PA</div> 
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-iop-1" class="mandibular-anterior-iop">Man Ant IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-iop-2" class="mandibular-anterior-iop">Man Ant IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-ant-iop-3" class="mandibular-anterior-iop">Man Ant IOP</div> 
            </div>
        </div>
    
        <div  class="mandibular-left-container">
            <div>
                <div class="mandibular-left-empty"></div>
                <div class="mandibular-left-empty"></div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-left-pa-1" class="mandibular-left-pa">Man Left PA</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-left-pa-2" class="mandibular-left-pa">Man Left PA</div>
            </div>
            <div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-left-iop-1" class="mandibular-left-iop">Man Left IOP</div>
                <div ng-click="disabledClick || toggleSelection($event.target.id)" id="man-left-iop-2" class="mandibular-left-iop">Man Left IOP</div>
            </div>
        </div>
    </div>
</div>