<t32-page-header
 title-img="titleImg" 
title-container-style="titleStyle" 
title-img-style="titleImgStyle">
</t32-page-header>
<div class="container-fluid seventy-four-percent-container container-zoom" style="padding: 20px 40px 20px 40px;">
    <div>
        <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance" class="template-popup-closer"></t32-popup-closer>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="padding:0; text-align: center; font-size: 2em;">
            <div><b>Previous Xrays</b></div>
            <small style="font-size: .75em">{{currentPatient.name}}</small>
        </div>
        <div class="col-sm-4"></div>
        <div class="clearfix"></div>
        <div tabset id="tabset">
            <div class="col-md-2 pull-right p-0">
                <select class="form-control" placeholder="date" ng-options="date as date for date in dates" ng-model="currentXrayDate" ng-change="onHistoryDateChange(currentXrayDate)">
                </select>
            </div>
            <div tab heading="Xray" id="xray" ng-click="onChartChange('xray')">
                <div class="well well-lg t32-xray-background" style="text-align: center;">
                    <div class="xray-chart-container" class="col-md-12">
                        <div class="xray-inner-chart-container" class="col-md-12" style="overflow:hidden;">
                            <div>
                                <div class="maxillary-right-container col-lg-3">
                                    <div>  
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_right_iop_1" class="maxillary-right-iop">Max Right IOP
                                        </div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_right_iop_2" class="maxillary-right-iop">Max Right IOP
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_right_post_pa_3" class="maxillary-right-pa">Max Right PA
                                        </div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_right_post_pa_4" class="maxillary-right-pa">Max Right PA
                                        </div>
                                    </div>
                                    <div>
                                        <div class="maxillary-right-empty"></div>
                                        <div class="maxillary-right-empty"></div>  
                                    </div>
                                </div>
                            
                                <div class="maxillary-anterior-container col-lg-6">
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_iop_1" class="maxillary-anterior-iop">Max Ant IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_iop_2" class="maxillary-anterior-iop">Max Ant IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_iop_3" class="maxillary-anterior-iop">Max Ant IOP</div> 
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_pa_4" class="maxillary-anterior-pa">Max Ant PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_pa_5" class="maxillary-anterior-pa">Max Ant PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_anterior_pa_6" class="maxillary-anterior-pa">Max Ant PA</div> 
                                    </div>
                                </div>
                            
                                <div  class="maxillary-left-container col-lg-3">
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_left_iop_1" class="maxillary-left-iop">Max Left IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_left_iop_2" class="maxillary-left-iop">Max Left IOP</div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_left_post_pa_3"class="maxillary-left-pa">Max Left PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="max_left_post_pa_4"class="maxillary-left-pa">Max Left PA</div>
                                    </div>
                                    <div>
                                        <div class="maxillary-left-empty"></div>
                                        <div class="maxillary-left-empty"></div>
                                    </div>
                                </div>
                            </div>
                                        
                            <div>
                                <div class="bite-wing-container col-lg-12">
                                    <div class="col-lg-3" style="display: inline-block;">
                                        <div style="display: inline-block;">
                                            <div ng-click=" handleClickEvent($event.target.id)" id="right_bw_1" class="bite-wing-right">BW Right</div>
                                            <div ng-click=" handleClickEvent($event.target.id)" id="right_bw_2" class="bite-wing-right">BW Right</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" style="display: inline-block;">
                                        <div style="display: inline-block;">
                                            <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                            </div>
                                            <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                            </div>
                                            <div class="bite-wing-empty" style="background-color: black; box-shadow: none;">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3" style="display: inline-block">
                                        <div style="display: inline-block;">
                                            <div ng-click=" handleClickEvent($event.target.id)" id="left_bw_1" class="bite-wing-left">BW Left</div>
                                            <div ng-click=" handleClickEvent($event.target.id)" id="left_bw_2" class="bite-wing-left">BW Left</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div>
                                <div class="mandibular-right-container col-lg-3">
                                    <div>
                                        <div class="mandibular-right-empty"></div>
                                        <div class="mandibular-right-empty"></div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_right_post_pa_1" class="mandibular-right-pa">Man Right PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_right_post_pa_2" class="mandibular-right-pa">Man Right PA</div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_right_iop_3" class="mandibular-right-iop">Man Right IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_right_iop_4" class="mandibular-right-iop">Man Right IOP</div>
                                    </div>
                                </div>
                            
                                <div class="mandibular-anterior-container col-lg-6">
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_pa_1" class="mandibular-anterior-pa">Man Ant PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_pa_2" class="mandibular-anterior-pa">Man Ant PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_pa_3" class="mandibular-anterior-pa">Man Ant PA</div> 
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_iop_4" class="mandibular-anterior-iop">Man Ant IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_iop_5" class="mandibular-anterior-iop">Man Ant IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_anterior_iop_6" class="mandibular-anterior-iop">Man Ant IOP</div> 
                                    </div>
                                </div>
                            
                                <div  class="mandibular-left-container col-lg-3">
                                    <div>
                                        <div class="mandibular-left-empty"></div>
                                        <div class="mandibular-left-empty"></div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_left_post_pa_1" class="mandibular-left-pa">Man Left PA</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_left_post_pa_2" class="mandibular-left-pa">Man Left PA</div>
                                    </div>
                                    <div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_left_iop_3" class="mandibular-left-iop">Man Left IOP</div>
                                        <div ng-click=" handleClickEvent($event.target.id)" id="mandibular_left_iop_4" class="mandibular-left-iop">Man Left IOP</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div ng-include src="../template/xrayChart.html"></div> -->
                </div>
            </div>
            <div tab heading="Pano" id="panoView" ng-click="onChartChange('panoView')">
                <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                    <!-- <div ng-include=""></div> -->
                    <div class="pano-chart-container col-lg-12">
                        <div class="pano-inner-chart-container col-lg-12">
                            <div class="pano-1-container">
                                <div id="pano" class="pano-1" ng-click=" handleClickEvent($event.target.id)"> Pano 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab heading="Ortho" id="orthoView" ng-click="onChartChange('orthoView')">
                <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                    <!-- <div ng-include=""></div> -->
                    <div class="ortho-chart-container col-lg-12">
                        <div class="ortho-inner-chart-container col-lg-12">
                            <div class="profile-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                                <div class="col-lg-6 profile-container">
                                    <div id="profile_1" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 profile">Profile 1</div>
                                    <div id="profile_2" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 profile">Profile 2</div>
                                    <div id="profile_3" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 profile">Profile 3</div>
                                </div>
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                            </div>
                            <div class="jaw-inside-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;">
                                    
                                </div>
                                <div class="col-lg-6 jaw-inside-container">
                                    <div id="jaw_inside_1" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 jaw-inside">Jaw Inside 1</div>
                                    <div id="jaw-inside-empty" class="col-lg-4"></div>
                                    <div id="iaw_inside_2" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 jaw-inside">Jaw Inside 2</div>
                                </div>
                                <div class="col-lg-3 empty-div-container" style="display:none;">
        
                                </div>
                            </div>
                            <div class="jaw-outside-container col-lg-12">
                                <div class="col-lg-3 empty-div-container" style="display:none;"></div>
                                <div class="col-lg-6 jaw-outside-container">
                                    <div id="jaw_outside_1" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 jaw-outside">Jaw Outside 1</div>
                                    <div id="jaw_outside_2" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 jaw-outside">Jaw Outside 2</div>
                                    <div id="jaw_outside_3" ng-click=" handleClickEvent($event.target.id)" class="col-lg-4 jaw-outside">Jaw Outside 3</div>
                                </div> 
                                <div class="col-lg-3 empty-div-container" style="display:none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab heading="CEPH" id="cephView" ng-click="onChartChange('cephView')">
                    <div class="well well-lg t32-xray-background" style="overflow-y:auto;">
                            <!-- <div ng-include=""></div> -->
                        <div class="ceph-chart-container col-lg-12">
                            <div class="ceph-inner-chart-container col-lg-12">
                                <div class="ceph-1-container">
                                    <div id="ceph" class="ceph-1" ng-click=" handleClickEvent($event.target.id)"> CEPH 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-12 photo-panel-container t32-xray-background well well-lg">
            <div class="col-lg-10">
                <ul class="nav1" style="height: auto">
                    <li ng-repeat="image in overFlowImages" ng-class="{'active': isActive($index)}" style="height: auto;">
                        <!-- <label class="photo-panel-remove" style="position: absolute; right:14px; color: red; cursor:pointer;" ng-if="inDeletePhotoMode" ng-click="deleteSelectedPhoto($index)">
                            <i class="fa fa-2x fa-trash-o"></i>
                        </label> -->
                        <!-- <label class="photo-panel-rotate" style="position: absolute; right:14px; color: red; cursor:pointer;" ng-if="inRotatePhotoMode" ng-click="rotateSelectedPhoto($index)">
                                <i class="fa fa-2x fa-repeat"></i>
                        </label> -->
                        <img
                        ng-src="{{image.src}}" 
                        alt="{{image.filename}}" 
                        title="{{image.filename}}" 
                        style="display:inline-block;"
                        ng-click="showPhoto($index);" />
                    </li>
                </ul>
            </div>
            <!-- <div class="col-lg-2 edit-photo-panel-container">
                <button class="btn btn-sm btn-primary" ng-click="deletePhotos()" ng-disabled="inRotatePhotoMode" ng-class="trashActive" ng-show="overFlowImages.length"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-sm btn-danger" ng-show="overFlowImages.length" 
                t32-action-confirmation
                confirmation-title="Delete All Images"
                confirmation-msg="Delete all images for this patient. Are you sure?"
                confirmation-label="OK"
                confirmation-cancel-label="CANCEL"
                on-confirm="deleteAllPhotos()">Delete All Photos</button>
            </div> -->
        </div>
    </div>
</div>
