<div class="modal-header">
    <h5 class="m-0">
        {{label}} note
    </h5>
    <app-popup-closer [modalInstance]="modal"></app-popup-closer>
</div>
<div class="modal-body">
    <form [formGroup]="noteForm" (ngSubmit)="handleSubmission($event)">
        <div class="form-row mb-3">
            <div class="col-10">
                <label for="">Type</label>
                <select class="form-control form-control-sm" formControlName="noteType">
                    <option value=""></option>
                    <option *ngFor="let type of noteTypes" [value]="type.value">{{type.label}}</option>
                </select>
                <div *ngIf="noteForm.touched && noteForm.controls.noteType.invalid" class="text-danger">
                    <small>This field is required</small>
                </div>
            </div>
            <div class="col-2 text-right">
                <label for="">Alert</label>
                <div 
                    [ngClass]="{ 'text-danger': noteForm.value.alert, 'text-secondary': !noteForm.value.alert }">
                    <span class="fa fa-bell lead" (click)="setAlert()"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Note</label>
            <textarea rows="10" class="form-control" formControlName="notes"></textarea>
            <div *ngIf="noteForm.touched && noteForm.controls.notes.invalid" class="text-danger">
                <small>This field is required</small>
            </div>

            <div class="form-row mt-1">
                <div class="col-6">
                    <app-note-template-picker (onSelect)="handleNoteTemplate($event)"></app-note-template-picker>
                </div>
            </div>
        </div>
        <div class="from-group text-right">
            <button type="button" (click)="close()" class="btn btn-link btn-sm text-danger d-inline-block">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm ml-1 d-inline-block">Save</button>
        </div>
    </form>
</div>