<select class="form-control form-control-sm" [(ngModel)]="model" (ngModelChange)="handleChange()">
    <option value="" selected></option>
    <option *ngFor="let provider of providers" [value]="provider.provider_id">{{provider.name}}</option>
</select>