<select class="form-control form-control-sm" [(ngModel)]="model" (ngModelChange)="handleChange()">
    <option value=""></option>
    <option *ngFor="let option of currentOptions" [value]="option">{{option}}</option>
</select>