<div class="container-fluid" style="margin-left:10px; margin-top:10px;">
   <t32-popup-closer ng-show="theModalInstance"
      the-modal-instance="theModalInstance">
   </t32-popup-closer>   
   <div class="row">
      <div class="col-md-5">
         <h3>Image Acquisition</h3>
      </div>
      <div class="col-md-4" ng-show="photos.length">
         <br>
         <form class="form-horizontal" role="form">
            <div class="form-group">
               <label class="col-sm-3 control-label">
                  Type
               </label>
               <div class="col-sm-8">
                  <t32-image-type-selector
                     folder="selectedFolder"
                     file-name="currentFileName">
                  </t32-image-type-selector>
               </div>
            </div>
         </form>      
      </div>
   </div>
   <div class="row col-md-12">
      <div class="col-md-10 col-lg-9">
         <div class="slider well well-lg" ng-hide="photos.length">
            <img 
               class="slide" 
               ng-src="" />
            Ready for image acquisition, to proceed click on &nbsp;
               <button class="btn btn-warning" 
                  ng-show="selectedFolder"
                  ng-click="onNewXray()">
                  Take New Xray
               </button>         
         </div>
         <div class="slider" ng-show="photos.length">
            <img ng-repeat="photo in photos" 
               class="slide" 
               style="max-width:643px; max-height:500px;"
               t32-xray-ruler-trigger
               image-source="photo.src"
               on-modify-image="onModifyImage(imageData)"
               ng-swipe-right="showPrev()" 
               ng-swipe-left="showNext()" 
               ng-show="isActive($index)" 
               ng-src="{{photo.src}}" />
            <a class="arrow prev" ng-click="showPrev()" ng-show="photos.length" style="left:-79px"></a>
            <a class="arrow next" ng-click="showNext()" ng-show="photos.length" style="right:49px"></a>
         </div>
         <div class="row">
            <br>
            <div class="col-md-6 text-center">
               <button 
                  ng-show="photos.length"
                  class="btn btn-default" 
                  t32-action-confirmation
                  confirmation-title="Delete Current Image"
                  confirmation-msg="Delete the current images,  Are you sure?"
                  confirmation-label="OK"
                  confirmation-cancel-label="CANCEL"
                  on-confirm="onDeleteActiveImage()">
                  Delete 
               </button>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <button 
                  class="btn btn-default"
                  ng-show="photos.length" 
                  t32-action-confirmation
                  confirmation-title="Delete All Images"
                  confirmation-msg="Delete all images for this patient. Are you sure?"
                  confirmation-label="OK"
                  confirmation-cancel-label="CANCEL"
                  on-confirm="onDeleteAllImages()">
                  Delete All
               </button>
            </div>
            <div class="col-md-5 text-right">
               <button class="btn btn-warning" 
                  ng-show="selectedFolder"
                  ng-click="onNewXray()">
                  Take New Xray
               </button>         
            </div>

         </div>
      </div>
      <div class="col-sm-3">
         <br>
         <br>
         <h3>Patient Information</h3>
         <br>
         <form class="form-horizontal" >
            <div class="form-group">
               <div class="col-sm-12 checkbox">
                  <label>
                     {{patientInfoString}}
                  </label>
               </div>
            </div>
         </form>
         <br>
         <br>
         <br>
         <div class="row">
            <div class="col-md-12">
               <button 
                  ng-show="photos.length"               
                  class="btn btn-primary" 
                  ng-click="onUpload()">
                  Upload to EHR
               </button>
            </div>
         </div>

      </div>
      <div class="col-md-9 col-sm-9">
            <ul class="nav1" style="height: auto;">
               <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}" style="height: auto;">
                  <img 
                  ng-src="{{photo.src}}" 
                  alt="{{photo.desc}}" 
                  title="{{photo.desc}}" 
                  style="display:inline-block;"
                  ng-click="showPhoto($index);" />
               </li>
            </ul>
         </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div>
</div>

<!--
   <div class="row">
      <div class="col-md-1 text-center">
         <button 
            class="btn btn-warning" 
            t32-action-confirmation
            confirmation-title="Upload Images To EHR"
            confirmation-msg="All images in selected folder will uploaded to selected patient."
            confirmation-label="OK"
            confirmation-cancel-label="CANCEL"
            on-confirm="onUpload()">
            Upload to EHR
         </button>
         <button 
            ng-show="photos.length"
            class="btn btn-default" 
            t32-action-confirmation
            confirmation-title="Delete Images In Folder"
            confirmation-msg="All images in the selected folder will be deleted. Are you sure?"
            confirmation-label="OK"
            confirmation-cancel-label="CANCEL"
            on-confirm="onDeleteFolder()">
            Delete 
         </button>
         <button 
            ng-show="photos.length"
            class="btn btn-default " 
            t32-action-confirmation
            confirmation-title="Delete Images In Folder"
            confirmation-msg="All images in the selected folder will be deleted. Are you sure?"
            confirmation-label="OK"
            confirmation-cancel-label="CANCEL"
            on-confirm="onDeleteFolder()">
            Delete All
         </button>
         <button class="btn btn-warning" 
            ng-show="selectedFolder"
            ng-click="onNewXray()">
            Take New Xray
         </button>
      </div>
   </div>
   -->
