<select ng-options="type.key as type.label for type in types"
        ng-show="selectedType"
        ng-model="selectedType"
        ng-change="onChangeType()"
        class="form-control">
    <option value=""> </option>
</select> 
