<div class="input-group input-group-sm">

    <select id="{{selectId}}" (change)="onSelectionChange()" class="form-control" [ngClass]="dropdownSize" [(ngModel)]="selectedKey">
        <option *ngFor="let key of quickKeys" [ngValue]="key">
            {{key?.name}}
        </option>
    </select>
    <div class="input-dropdown input-group-append">
        <button type="button" class="btn btn-sm btn-outline-warning" (click)="edit()">
            <span class="fa fa-pencil"></span>
        </button>
    </div>
    <div class="input-dropdown input-group-append">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="create()">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>
