<span>
    <b>Driver Selection</b>
    <small ng-show="!driverList || driverList.length == 0">
        <i class="fa fa-spinner fa-pulse fa-fw" style="color: red"></i>&nbsp;&nbsp;Connecting...
    </small>
</span>
<div>
    <select id="edit-panel-select" class="form-control" ng-model="selectedDriver" ng-options="drivers for drivers in driverList" ng-change="updateDriverSelection()">
    </select>
</div>