<div class="col-sm-12 image-manipulation-container" style="padding-top: 10px;">
    <div class="col-sm-2 image-manipulation-icon">
        <i class="fa fa-2x fa-search-plus"></i>
    </div>
    <div class="col-sm-10 image-manipulation-slider">
        <input type="range" min="100" max="500" value="100" step="10" ng-model="zoom" ng-change="zoomIn()" ng-disabled="disabled"
            style="margin-top:6px;">
    </div>
</div>
<div class="col-sm-12 image-manipulation-container" style="padding-top: 10px;">
    <div class="col-sm-2 image-manipulation-icon">
        <i class="fa fa-2x fa-sun-o"></i>
    </div>
    <div class="col-sm-10 image-manipulation-slider">
        <input type="range" min="-100" max="100" value="0" ng-model="brightness" style="margin-top:6px;" ng-disabled="disabled">
    </div>
</div>
<div class="col-sm-12 image-manipulation-container" style="padding-top: 10px;">
    <div class="col-sm-2 image-manipulation-icon">
        <i class="fa fa-2x fa-adjust"></i>
    </div>
    <div class="col-sm-10 image-manipulation-slider">
        <input type="range" min="-100" max="100" value="0" ng-model="contrast" style="margin-top:6px;" ng-disabled="disabled">
    </div>
</div>
<div class="col-sm-12 image-manipulation-container">
    <div class="col-sm-2 image-manipulation-checkbox">
        <input type="checkbox" ng-model="sharpen" class="form-check-input" ng-change="manipulate()" ng-disabled="disabled" style='margin-left: 4px;' id="sharpen-checkbox"> 
    </div>
    <div class="col-sm-10 image-manipulation-label">
        <label class="form-check-label" for="sharpen-checkbox">
            <span>Sharpen</span>
        </label>
    </div>
</div>
<div class="col-sm-12 image-manipulation-container" style="padding-top: 10px;">
    <button class="btn btn-sm btn-warning xray-edit-controls-button" ng-click="resetManipulation()" ng-disabled="disabled">Reset</button>
</div>