<div class="container-fluid">
    <h3>Select Xray Sensors</h3>
    <t32-popup-closer ng-show="theModalInstance"
        the-modal-instance="theModalInstance">
    </t32-popup-closer>   
    <br>

    <table class="table">
        <tr>
            <th>
                Manufacturer
                <t32-sort
                     sort-attribute="manufacturer"
                     sort-list="masterSensorList"
                     selected-sort-attribute="selectedSortAttribute">
                </t32-sort>
            </th>
            <th>
                Product
                <t32-sort
                     sort-attribute="prodName"
                     sort-list="masterSensorList"
                     selected-sort-attribute="selectedSortAttribute">
                </t32-sort>
            </th>
            <th>
                Model
                <t32-sort
                     sort-attribute="modelNumber"
                     sort-list="masterSensorList"
                     selected-sort-attribute="selectedSortAttribute">
                </t32-sort>                
            </th>
            <th>
                Width
                <t32-sort
                     sort-attribute="width"
                     sort-list="masterSensorList"
                     selected-sort-attribute="selectedSortAttribute">
                </t32-sort>                                
            </th>
            <th>
                Height
                <t32-sort
                     sort-attribute="height"
                     sort-list="masterSensorList"
                     selected-sort-attribute="selectedSortAttribute">
                </t32-sort>                                
            </th>
            <th>            
                &nbsp;
            </th>
        </tr>
        <tr ng-repeat="xraySensor in masterSensorList">
            <td>
                {{xraySensor.manufacturer}}
            </td>     
            <td>
                {{xraySensor.prodName}}
            </td>     
            <td>
                {{xraySensor.modelNumber}}
            </td>       
            <td>
                {{xraySensor.width}}
            </td>  
            <td>
                {{xraySensor.height}}
            </td>  
            <td>
                <input type="checkbox" 
                        ng-model="xraySensor.selected"/>&nbsp;&nbsp;
            </td>       
        </tr>
    </table>
    <br>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary"
                ng-click="onUpdate()">
                Update
            </button>
        </div>
        <div class="col-md-9 pull-right">
            If you don't see your sensor on the list, visit our
            <a href="http://support.tab32.com/knowledgebase/topics/113124-6-images-on-cloud" target="_blank">
                <span class="text-danger"> custom support page.</span>
            </a>        
        </div>
    </div>

    <br>
    <br>
</div>