
<div class="form-group">
   <label>
      Sensor & Image Orientation
   </label>
   <select ng-options="sensorOption as sensorOption.desc for sensorOption in sensorOptionList"
           ng-model="selectedSensorOption"
           ng-change="onChangeOption()"
           class="form-control">
       <option value=""> </option>
   </select>
</div>