<div class="container-fluid xray-image-edit-container">
    <div class="row content-title-container">
        <div class="col-sm-3 branding">
            <h4>
                Edit Xrays
            </h4>
        </div>
        <div class="col-sm-9" style="padding-top: 4px">
            <!-- <t32-xray-sensor-settings-dropdown 
                clinic-id="clinicId" 
                settings="settings" 
                current-xray-sensor-setting="currentXraySensorSetting"
                xray-sensor-settings="xraySensorSettings" 
                on-selection-change="onXraySensorSettingChange()"
                show="!inImageManipulation">
            </t32-xray-sensor-settings-dropdown>
            <div class="col-sm-3">
                <button class="btn btn-sm btn-warning" ng-click="openMeasureTool()">
                    Measure
                </button>
            </div> -->
            <div class="col-sm-3" ng-show="inImageManipulation" style="margin-top: 3px; color: white; padding: 0">
                <span>
                    <i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>
                    &nbsp; Processing...
                </span>
            </div>
        </div>
    </div>
    <t32-popup-closer special-close="cancel()">
    </t32-popup-closer>
        <div class="row">
            <div class="col-sm-12 xray-edit-container" id="xray-edit-container">
                <div class="col-sm-3 xray-edit-controls-container content-sidebar" style="padding: 15px;" id="sidebar">
                    <div class="col-sm-12 xray-edit-controls-button-container arrows">
                        <div class="col-xs-2" id="arrow-container-left">
                            <!-- <a href="" ng-click="previousImage()"> -->
                                <!-- <i class="fa fa-2x fa-arrow-left"  ng-click="previousImage()"></i> -->
                            <!-- </a> -->
                            <button class="btn btn-sm btn-primary" ng-click="previousImage()" ng-disabled="inImageManipulation">
                                <i class="fa fa-2x fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-xs-8 xray-edit-image-name-container">
                            <div>
                                {{activeImageName}}
                            </div>
                            <div>
                                {{currentImageNum}} of {{totalImageNum}}
                            </div>
                        </div>
                        <div class="col-xs-2" id="arrow-container-right">
                            <!-- <a href="" class="pull-right" ng-click="nextImage()"> -->
                                <!-- <i class="fa fa-2x fa-arrow-right" ng-click="nextImage()"></i> -->
                            <!-- </a> -->
                            <button class="btn btn-sm btn-primary pull-right" ng-click="nextImage()" ng-disabled="inImageManipulation">
                                <i class="fa fa-2x fa-arrow-right"></i>
                            </button>
                        </div>

                        <!-- <button class="btn btn-sm btn-danger" t32-action-confirmation confirmation-title="Delete All Images" confirmation-msg="Are you sure you want to delete all images for this patient?"
                            confirmation-label="OK" confirmation-cancel-label="CANCEL" on-confirm="deleteImage(currentImage)">Delete</button> -->
                    </div>
                    <div class="col-sm-12 xray-edit-controls-button-container" style="padding-bottom: 10px;">
                        <!-- <div class="col-md-6" style="padding: 0">
                            <button class="btn btn-sm btn-info xray-edit-controls-button" ng-click="rotateImage(90)"
                                ng-disabled="inImageManipulation">
                                <i class="fa fa-repeat"></i>&nbsp;Rotate
                            </button>
                        </div>
                        <div class="col-md-6" style="padding: 0">
                            <button class="btn btn-sm btn-info xray-edit-controls-button" ng-click="rotateImage(-90)"
                                ng-disabled="inImageManipulation">
                                <i class="fa fa-undo"></i>&nbsp;Rotate
                            </button>
                        </div>
                        <div class="col-md-6" style="padding: 0">
                            <button class=" btn btn-sm btn-info xray-edit-controls-button" ng-click="flipX()"
                                ng-disabled="inImageManipulation">
                                <i class="fa fa-arrows-h"></i>&nbsp;Mirror
                            </button>
                        </div>
                        <div class="col-md-6" style="padding: 0">
                            <button class=" btn btn-sm btn-info xray-edit-controls-button" ng-click="flipY()"
                                ng-disabled="inImageManipulation">
                                <i class="fa fa-arrows-v"></i>&nbsp;Flip
                            </button>
                        </div> -->
                        <button class="btn btn-sm btn-info xray-edit-controls-button" ng-click="rotateImage(90)" ng-disabled="inImageManipulation">
                            <i class="fa fa-repeat"></i>&nbsp;Rotate
                        </button>
                        <button class="btn btn-sm btn-info xray-edit-controls-button" ng-click="rotateImage(-90)" ng-disabled="inImageManipulation">
                            <i class="fa fa-undo"></i>&nbsp;Rotate
                        </button>
                        <button class=" btn btn-sm btn-info xray-edit-controls-button" ng-click="flipX()" ng-disabled="inImageManipulation">
                            <i class="fa fa-arrows-h"></i>&nbsp;Mirror
                        </button>
                        <button class=" btn btn-sm btn-info xray-edit-controls-button" ng-click="flipY()" ng-disabled="inImageManipulation">
                            <i class="fa fa-arrows-v"></i>&nbsp;Flip
                        </button>
                        <button class="btn btn-sm btn-info xray-edit-controls-button" ng-click="openMeasureTool()" ng-disabled="inImageManipulation">
                            Measure
                        </button>
                    </div>
                    <div class="col-sm-12 xray-edit-controls-button-container" style="padding: 0 15px">
                        <t32-brightness-contrast-controls        
                            current-image-settings="currentImageSettings"
                            disabled="inImageManipulation">
                        </t32-brightness-contrast-controls>
                    </div>
                    <div class="col-sm-12 
                    xray-edit-controls-button-container" style="padding: 0 15px;">
                        <button class="btn btn-sm btn-danger xray-edit-controls-button" 
                            t32-action-confirmation 
                            confirmation-title="Delete Image" 
                            confirmation-msg="Are you sure you want to delete this image?" 
                            confirmation-label="OK" 
                            confirmation-cancel-label="CANCEL" on-confirm="deleteImage(currentImage)" style="margin-bottom: 5px;" ng-disabled="inImageManipulation">
                            Delete
                        </button>
                        <button class="btn btn-sm btn-success xray-edit-controls-button" ng-click="saveImage()" ng-disabled="inImageManipulation || !manipulated">
                            Save
                        </button>

                    </div>
                </div>
                <div class="col-sm-9" id="xray-image-container" style="text-align: center; overflow: auto; height: 600px; max-height: 600px;">
                    <div id="xray-canvas-container" style="height: 550px; width: 550px; max-height: 550px; max-width: 550px; overflow: auto; margin: auto;">
                        <canvas id="canvas" ></canvas>
                    </div>
                </div>
                <canvas id="newCanvas" ng-hide="true"></canvas>
            </div>
        </div>
</div>