<div class="container-fluid" id="xray-ruler-modal-container">
    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>
    
    <h2 class="title">
        Xray Measurement
    </h2>
   <t32-popup-closer ng-show="theModalInstance"
      the-modal-instance="theModalInstance">
   </t32-popup-closer>   

   <div class="row" style="margin-bottom: 10px;">
       <div class="col-md-12">
            <!-- <t32-xray-sensor-selector
                clinic-id="clinicId"
                selected-sensor-size="imageWidth">
            </t32-xray-sensor-selector> -->
            <t32-xray-sensor-settings-dropdown 
                clinic-id="clinicId" 
                settings="settings" current-xray-sensor-setting="currentXraySensorSetting"
                xray-sensor-settings="xraySensorSettings" 
                deleted-xray-sensor-settings="deletedXraySensorSettings" 
                on-selection-change="onXraySensorSettingChange()"
                show="showSensorDropdown">
            </t32-xray-sensor-settings-dropdown>
            <div class="col-xs-6" ng-show="sensorWarning">
                <label style="color:red">
                    It seems that the sensor dimensions do not match the xray image dimensions. This can cause the measurement to be inaccurate.
                </label>
            </div>
       </div>
   </div>
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-9 col-sm-6 col-xs-6">
         <input id="show-angles" type="checkbox" ng-model="showAngle">
         <label for="show-angles">Show angles</label>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input id="show-deltas" type="checkbox" ng-model="showDeltas">
         &nbsp;
         <label for="show-deltas">Show dx/dy</label>
      </div>
      <div class="col-md-3" style="text-align: right;">
            <button class="btn btn-sm btn-warning" ng-disabled="!hasLines()" ng-click="onClear()">
                Clear
            </button>
      </div> 
<!--      
      <div class="col-md-2" ng-hide="hideDeleteButton">
         <br>
         <t32-delete-xray
            clinic-id="clinicId"
            patient-id="patientId"
            xray-file-id="xrayFileId"
            after-delete="afterDeleteXray()">
         </t32-delete-xray>                        
      </div> 
      <div class="col-md-1">
         <t32-audit-view-button
             schema-name="Xray"
             clinic-id="clinicId"
             subject-id="xrayFileId">
         </t32-audit-view-button>
      </div>
      -->
   </div>

   <div class="col-md-12" id="xray-ruler-container" style="background: black; padding: 0px; border-radius: 6px;">
       <div class="well well-lg"  style="position: relative; background-color: black; min-width: 550px; max-width: 550px; min-height: 550px; max-height: 550px; border: none;">
          <canvas 
             id="t32-xray-ruler-background-img" 
             width="500px"
             height="500px"
             >
          </canvas>
          <canvas id="t32-xray-ruler-measure" width="50" height="50" style="cursor:url(img/xray-ruler-target-cursor.png) 31 31,crosshair;"></canvas>
          <canvas id="t32-xray-ruler-loupe" width="280" height="280" ng-show="showLoupe"></canvas>
       </div>
   </div>
   <div class="row" ng-show="showAngle">
      <div class="col-md-12">
      TIP: starting a line where another ends measures their angles.
      </div>
      <br>      
   </div>
   

   <div id="hiddenArea" style="display:none">
   </div>
   <!-- <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div> -->
</div>