<div class="container-fluid">
  <div class="modal-body">
    <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance"></t32-popup-closer>
    <br>
    <br> 
    <div class="row col-md-12">
      <div class="col-md-12 col-lg-9 well well-lg">
        <div class="col-md-12" ng-style="paintBrushDimensions"><i class="fa fa-2x fa-paint-brush" ng-click="togglePaintMode()" ></i></div>
        <div class="slider col-md-12" id="xray-image-slider" ng-show="photos.length" style="min-height: 400px;">
          <!-- <xray-canvas height="415px" width="400px" in-paint-mode="inPaintMode" ng-show="inPaintMode"></xray-canvas>  -->
          <xray-canvas height="415px" width="400px" ng-show="inPaintMode"></xray-canvas> 
          <!-- <div ng-show="!inPaintMode" style="min-height: 400px;"></div> -->
          <!-- <div ng-show="!inPaintMode">
            <canvas id="t32-xray-ruler-background-img" width="400px" height="400px" style="left:0px;"></canvas>
          </div> -->
          <img ng-repeat="photo in photos" 
            class="slide xray-images"
            t32-xray-ruler-trigger
            image-source="photo.src"
            on-modify-image="onModifyImage(imageData)"
            ng-show="isActive($index)" 
            ng-src="{{photo.src}}" />
          <!-- <a class="arrow prev" ng-click="showPrev()" ng-show="photos.length" style="left:-79px"></a>
          <a class="arrow next" ng-click="showNext()" ng-show="photos.length" style="right:49px"></a> -->
        </div>
        <!-- <canvas id="t32-xray-ruler-measure" width="50" height="50" style="cursor:url(img/xray-ruler-target-cursor.png) 31 31,crosshair;"></canvas>
        <canvas id="t32-xray-ruler-loupe" width="280" height="280" ng-show="showLoupe"></canvas>
        <div id="t32-xray-ruler-tools" width="280" height="280" ng-hide="showLoupe" style="top:115px;">
          <t32-image-manipulator
              image-id="t32-xray-ruler-background-img"
              on-save-image="onSaveImage(imageData)"
              after-reset="onResetAdjustment()">
          </t32-image-manipulator>
        </div> -->
      </div>
      <div class="col-md-12 col-lg-9 photo-panel-container well well-lg">
        <div class="col-md-9">
            <ul class="nav1" style="height: auto;">
                <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}" style="height: auto;">
                    <img 
                    ng-src="{{photo.src}}" 
                    alt="{{photo.desc}}" 
                    title="{{photo.desc}}" 
                    style="display:inline-block;"
                    ng-click="showPhoto($index);" />
                </li>
              </ul>
        </div>
        <div class="col-md-3 edit-photo-panel-container">
          <button 
            ng-show="photos.length"
            class="btn btn-sm btn-info" 
            t32-action-confirmation
            confirmation-title="Delete Current Image"
            confirmation-msg="Delete the current images,  Are you sure?"
            confirmation-label="OK"
            confirmation-cancel-label="CANCEL"
            on-confirm="onDeleteActiveImage()">
            <i class="fa fa-trash"></i>
          </button>
          <button 
              class="btn btn-sm btn-danger"
              ng-show="photos.length" 
              t32-action-confirmation
              confirmation-title="Delete All Images"
              confirmation-msg="Delete all images for this patient. Are you sure?"
              confirmation-label="OK"
              confirmation-cancel-label="CANCEL"
              on-confirm="onDeleteAllImages()">
              Delete All
          </button>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
</div>

