<div *ngIf="_patient">
    <div>
        <h5 class="mb-0 d-inline-block">{{ _patient[header] }}</h5>
        &nbsp;
        <span class="badge badge-warning badge-pill" *ngIf="_patient.is_offline">New</span>
    </div>
    <small [innerHTML]="detailStr"></small>
</div>