
<div class="modal-header">
    <h5 class="m-0">
        {{title}}
    </h5>
    <app-popup-closer [modalInstance]="modal"></app-popup-closer>
</div>
<div class="modal-body">
    <form [formGroup]="quickKeyForm" (ngSubmit)="save($event)">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex w-50">
                <div class="w-50">
                    <label>
                        Name
                    </label>
                    <input type="text" formControlName="name" class="form-control form-control-sm"/>
                    <div *ngIf="submitted && quickKeyForm.controls.name.errors" class="text-danger">
                        <small>This field is required</small>
                    </div>
                </div>
                <div class="ml-2">
                    <label>
                        &nbsp;
                    </label>
                    <div>
                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="addNewTreatment()">
                            <!-- <span class="fa fa-plus"></span> -->
                            Add Treatment
                        </button>
                    </div>
                </div>
            </div>
            <div class="ml-2">
                <label>
                    &nbsp;
                </label>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteQuickKey()">
                        <!-- <span class="fa fa-plus"></span> -->
                        Delete Key
                    </button>
                </div>
            </div>
        </div>
    
        <ng-container *ngFor="let treatment of key.treatments; index as i">
            <!-- <div class="col-11" *ngFor="let treatment of key.treatments; index as i">
                <app-treatment-definition
                    (form)="onTreatmentData($event)">
                </app-treatment-definition>
            </div>
            <div class="col-1">
                <button class="btn btn-sm btn-outline-danger" (click)="removeTreatment(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div> -->
            <div class="d-flex align-items-end mb-3" >
                <div class="w-100">
                    <app-treatment-definition [treatment]="treatment" (form)="onTreatmentData($event)">
                    </app-treatment-definition>
                </div>
                <div class="ml-2">
                    <button class="btn btn-sm btn-outline-danger" (click)="removeTreatment(i)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </ng-container>
        
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-link btn-sm text-danger d-inline-block" type="button" (click)="close()">Cancel</button>
                <button appDebounceClick (debounceClick)="save('null')" [debounceTime]="600" class="btn btn-primary btn-sm ml-2 d-inline-block">Save</button>
            </div>
        </div>
    </form>
</div>