 <select class="form-control form-control-sm" [(ngModel)]="model" (ngModelChange)="handleChange()">
     <option value="" selected></option>
     <option *ngFor="let location of locations" [value]="location._id">{{location.name}}</option>
 </select>