<!-- <div class="form-group" ng-show="authenticated">
   <label>
      Select Clinic
   </label>
   <select ng-options="clinic as clinic.shortName || clinic.name for clinic in clinicList"
      ng-model="selectedClinic"
      ng-change="changeClinic()"
      class="form-control">
      <option value=""> </option>
   </select> 
</div> -->
<div class="row" ng-show="authenticated && selectedClinic">
   <!-- <div>
      <span>
         <img src="img/dental-clinic.svg" width="60px" />
      </span>
      &nbsp;
      <span>
         {{selectedClinic.name}}
         <br>
         {{selectedClinic.address.phone}}
      </span>
   </div> -->
   <div class="clinic-selection-container">
      <div class="col-sm-12 clinic-item" style="border: 0">
         <div class="row">
            <div class="col-xs-12 col-sm-2">
               <img src="img/dental-clinic.svg" width="60px" />
            </div>
            <div class="col-xs-12 col-sm-10">
               <p class="clinic_name">{{ selectedClinic.name }}</p>
               <address class="address-section">
                  <span ng-if="selectedClinic.address.add_line1">{{ selectedClinic.address.add_line1 }},</span>
                  <span ng-if="selectedClinic.address.add_line2">{{ selectedClinic.address.add_line2 }}</span>
                  <span ng-if="selectedClinic.address.city">{{ selectedClinic.address.city }},</span>
                  <span ng-if="selectedClinic.address.state">{{ selectedClinic.address.state }}</span>
                  <span ng-if="selectedClinic.address.zipcode">{{ selectedClinic.address.zipcode }}</span>
                  <span ng-if="selectedClinic.address.phone" class="pl-1">Ph:
                     {{ selectedClinic.address.phone | t32Tel }}</span>
               </address>
            </div>
         </div>
      </div>
   </div>
</div>
