<app-home-button></app-home-button>
<div class="h-100 d-flex flex-column">

    <div class="h-100 row overflow-auto">
        <div class="col-12 col-lg-4 mh-100 d-flex flex-column">
            <div class="card">
                <div class="card-body mh-100 overflow-auto">
                    <h5><span class="fa fa-user"></span> Patient Details</h5>
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-1">Chart ID: {{patient?.chartId}}</p>
                            </div>
                        
                            <div class="col-6">
                                <small  class="text-secondary">First name</small>
                                <p class="mb-1">{{patient?.fname}}</p>
                            </div>
                            <div class="col-6">
                                <small  class="text-secondary">Last name</small>
                                <p class="mb-1">{{patient?.lname}}</p>
                            </div>
                    
                            <div class="col-6">
                                <small  class="text-secondary">Gender</small>
                                <p class="mb-1">{{patient?.gender | gender}}</p>
                            </div>
                            <div class="col-6">
                                <small  class="text-secondary">DOB</small>
                                <p class="mb-1">{{patient?.dob | date:'shortDate'}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-6">
                                <small class="text-secondary">Email</small>
                                <p class="mb-1">{{patient?.email | customEmail}}</p>
                            </div>
                            <div class="col-6">
                                <small  class="text-secondary">Phone</small>
                                <p class="mb-1">{{patient?.smsPhone | customTel}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button *ngIf="patient.is_offline" class="btn btn-sm btn-outline-primary mr-2" (click)="editPatient()">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-danger mr-2" (click)="delete('patient', patient._id)">
                            <span class="fa fa-trash-o"></span>
                        </button>
                        <app-xray-trigger class="mr-2" [clinicId]="clinicId" [patientInfo]="patient">
                        </app-xray-trigger>
                        <!-- <button class="btn btn-sm btn-outline-primary" routerLink="/previous-xrays">
                            Past Xrays
                        </button> -->
                        <button class="btn btn-sm btn-outline-primary" (click)="openPreviousXrays()" [disabled]="!hasPreviousXrays()">
                            Past Xrays
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mt-2 overflow-hidden">
                <div class="card-body mh-100 d-flex flex-column">
                    <div class="mb-2">
                        <h5 class="d-inline-block"><span class="fa fa-sticky-note"></span> Medical Notes</h5>
                        <button
                            (click)="openNoteModal()"
                            class="ml-2 btn btn-outline-primary btn-sm float-right">
                                <span class="fa fa-plus"></span>
                        </button>
                    </div>

                    <div class="text-center" *ngIf="!medicalNotes.length">
                        <img class="opacity-50" width="200px" src="assets/img/svg/undraw_random_thoughts.svg" alt="Search result placeholder image">
                    </div>

                    <div class="table-responsive border h-100 overflow-auto" *ngIf="medicalNotes.length"> 
                        <table class="table sticky-table-head">
                            <thead>
                                <tr>
                                    <th class="border-0 border-bottom"></th>
                                    <th class="border-0 border-bottom"></th>
                                    <th class="border-0 border-bottom">Date</th>
                                    <th class="border-0 border-bottom">Type</th>
                                    <th class="border-0 border-bottom"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let note of medicalNotes | sortBy:'date':'desc'">
                                    <td [className]="note.alert ? 'text-danger' : 'text-muted'">
                                        <span class="fa fa-bell"></span>
                                    </td>
                                    <td>
                                        <span 
                                        class="fa fa-eye" 
                                        [ngbPopover]="note.notes" triggers="mouseenter:mouseleave"></span>
                                    </td>

                                    <td>{{note.date | date:'shortDate'}}</td>
                                    <td class="text-capitalize">{{note?.noteType}}</td>
                                    <td class="text-right">
                                        <ng-container *ngIf="note.is_offline">
                                            <button class="btn btn-outline-primary btn-sm" (click)="openNoteModal(note)">
                                                <span class="fa fa-pencil"></span>
                                            </button>

                                            <button class="btn btn-outline-danger btn-sm ml-2" (click)="delete('patient_note', note._id)">
                                                <span class="fa fa-trash-o"></span>
                                            </button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 mh-100">
            <div class="card h-100">
                <div class="card-body mh-100 d-flex flex-column">
                    <div class="mb-2">
                        <h5 class="d-inline-block"><span class="fa fa-list-ul"></span> Treatments</h5>
                        <button (click)="openTreatmentModal()" class="ml-2 btn btn-outline-primary btn-sm float-right">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>

                    <div class="text-center pt-5" *ngIf="!treatments.length">
                        <img class="opacity-50" width="400px" src="assets/img/svg/undraw_file.svg" alt="Search result placeholder image">
                    </div>

                    <div class="table-responsive border h-100 overflow-auto" *ngIf="treatments.length">
                        <table class="table sticky-table-head">
                            <thead>
                                <tr>
                                    <th class="border-0 border-bottom">Entered</th>
                                    <th class="border-0 border-bottom">Completed</th>
                                    <th class="border-0 border-bottom">Status</th>
                                    <th class="border-0 border-bottom">Pre/Cond</th>
                                    <th class="border-0 border-bottom">Th.</th>
                                    <th class="border-0 border-bottom">Surf.</th>
                                    <th class="border-0 border-bottom">Quad.</th>
                                    <th class="border-0 border-bottom">Treatments</th>
                                    <th class="border-0 border-bottom"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let treatment of treatments | sortBy:'enteredDate':'desc'">
                                <!--treatment row-->
                                <tr>
                                    <td>
                                        {{treatment.enteredDate | date:'shortDate'}}
                                    </td>
                                    <td>
                                        {{treatment.completed_date | date:'shortDate'}}
                                    </td>
                                    <td>
                                        <span 
                                        *ngIf="!treatment.completed"
                                        ngbTooltip="Incomplete" placement="top"
                                        class="fa fa-exclamation-circle text-danger"></span>
                                        
                                        <span 
                                        *ngIf="treatment.completed"
                                        ngbTooltip="Completed" placement="top"
                                        class="fa fa-check-circle text-success"></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{treatment.tooth_number}}
                                    </td>
                                    <td>
                                        {{treatment.surfaces}}
                                    </td>
                                    <td>
                                        {{ getLabelForQuadrant(treatment.oral_cavity) }}
                                    </td>
                                    <td>
                                        {{treatment.cdtCode}} - {{treatment.description}}
                                    </td>
                                    <td class="w-130px">
                                        <button 
                                        class="btn btn-outline-primary btn-sm mt-1" 
                                        (click)="openTreatmentNote(treatment)">
                                            <span class="fa fa-thumb-tack"></span>
                                        </button>

                                        <ng-container *ngIf="treatment.is_offline">
                                            <button 
                                            class="btn btn-outline-primary btn-sm mt-1 ml-2" 
                                            (click)="openTreatmentModal(treatment)">
                                                <span class="fa fa-pencil"></span>
                                            </button>

                                            <button 
                                            class="btn btn-outline-danger btn-sm mt-1 ml-2" 
                                            (click)="delete('treatment', treatment._id)">
                                                <span class="fa fa-trash-o"></span>
                                            </button>

                                        </ng-container>

                                    </td>
                                </tr>
                                <!--treatment note row-->
                                <tr *ngFor="let note of treatment.notes">
                                    <td>
                                        {{note.date | date:'shortDate' }}
                                    </td>
                                    <td class="text-right">
                                        <span class="badge badge-warning">Note</span> 
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-sm btn-link" (click)="openTreatmentNote(treatment, note)">
                                            <span *ngIf="note.is_offline" class="fa fa-pencil text-primary"></span>
                                        </button>
                                    </td>
                                    <td colspan="6">
                                        {{note.notes}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>