
<button class="btn btn-link" [disabled]="isConnected" (click)="logIn()">
    <i class="fa" aria-hidden="true" ngClass="{{isConnected ? 'text-success fa-circle' : 'text-danger fa-circle-o'}}"></i>&nbsp;{{this.isConnected ? "Logged In" : "Sign In"}}
</button>
