<div class="container-fluid" style="padding-bottom: 15px;">
     <!-- <div class="row content-title-container" style="margin: 0">
        <div class="col-sm-3 branding">
            <h4>
                Xray Sensor
            </h4>
        </div>
        <div class="col-sm-9" style="padding-top: 4px">
            <button class="btn btn-sm btn-success" ng-show="isChanged && !formErrors" ng-click="saveXraySensorSettings()">
                <span class="fa fa-save"></span>
                &nbsp;Save
            </button>
        </div>
    </div>


    <t32-popup-closer special-close="cancel()">
    </t32-popup-closer>
    <div class="row" style="margin: 0">
        <div class="col-md-12 xray-sensor-settings-container">
            <div class="col-md-3 content-sidebar xray-sensor-settings-sidebar">
                <div class="large-header">
                    <h5>
                        Create Setting
                    </h5>
                </div>
            </div>

            <div class="col-sm-9" style="min-height:80vh; max-height:80vh; overflow-y: auto;">
                <div style="padding-top: 15px;">
                    <div class="col-sm-12 card card-container">

                        <form name="xraySensorSettingsCreateForm" id="xraySensorSettingsCreateForm" ng-model="xraySensorSettingsCreateForm">

                            <div class="form-group col-md-6">
                                <label for="name">
                                    Setting Name
                                </label>
                                <input type="text" required ng-minlength="3" name="name" ng-model="currentXraySensorSetting.name" ng-change="handleInputChange('name')"
                                    class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.name.$touched && xraySensorSettingsCreateForm.name.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.name.$error.required">Name is required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.name.$error.minlength">Name should be greater than 3 characters </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="manufacturer">
                                    Manufacturer
                                </label>
                                <input type="text" required ng-minlength="3" name="manufacturer" ng-model="currentXraySensorSetting.manufacturer"
                                    ng-change="handleInputChange('manufacturer')" class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.manufacturer.$touched && xraySensorSettingsCreateForm.manufacturer.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.manufacturer.$error.required">Manufacturer Name is required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.manufacturer.$error.minlength">Manufacturer Name should be greater than 3 characters </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="modelNumber">
                                    Model Number
                                </label>
                                <input type="text" required ng-minlength="2" name="modelNumber" ng-model="currentXraySensorSetting.modelNumber"
                                    ng-change="handleInputChange('modelNumber')" class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.modelNumber.$touched && xraySensorSettingsCreateForm.modelNumber.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.modelNumber.$error.required">Model Number is required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.modelNumber.$error.minlength">Model Number should be greater than 2 characters </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="prodName">
                                    Product Name
                                </label>
                                <input type="text" required ng-minlength="3" name="prodName" ng-model="currentXraySensorSetting.prodName" ng-change="handleInputChange('prodName')" class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.prodName.$touched && xraySensorSettingsCreateForm.prodName.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.prodName.$error.required">Product Name is required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.prodName.$error.minlength">Product Name should be greater than 3 characters </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="height">
                                    Image Height (mm)
                                </label>
                                <input type="number" required min="1" max="10000" name="height" ng-model="currentXraySensorSetting.height" ng-change="handleInputChange('height')" class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.height.$touched && xraySensorSettingsCreateForm.height.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.height.$error.required">Image Height required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.height.$error.min">Image Height should be greater than 1 </div>
                                    <div ng-if="xraySensorSettingsCreateForm.height.$error.max">Image Height should be less than 10,000.</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="width">
                                    Image Width (mm)
                                </label>
                                <input type="number" required min="1" max="10000" name="width" ng-model="currentXraySensorSetting.width" ng-change="handleInputChange('width')" class="input-group form-control">
                                <div ng-if="xraySensorSettingsCreateForm.width.$touched && xraySensorSettingsCreateForm.width.$invalid" style="color:red; display: inline-block;">
                                    <div ng-if="xraySensorSettingsCreateForm.width.$error.required">Image Width required</div>
                                    <div ng-if="xraySensorSettingsCreateForm.width.$error.min">Image Width should be greater than 1 </div>
                                    <div ng-if="xraySensorSettingsCreateForm.width.$error.max">Image Width should be less than 10,000.</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>
    <t32-popup-closer special-close="cancel()">
    </t32-popup-closer>

    <h2 class="title">
        Create Sensor Setting
    </h2>

    <div class="col-md-12 card card-container">

        <form name="xraySensorSettingsCreateForm" id="xraySensorSettingsCreateForm"
            ng-model="xraySensorSettingsCreateForm">

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">
                        Setting Name
                    </label>
                    <input type="text" required ng-minlength="3" name="name" ng-model="currentXraySensorSetting.name"
                        ng-change="handleInputChange('name')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.name.$touched && xraySensorSettingsCreateForm.name.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.name.$error.required">Name is required</div>
                        <div ng-if="xraySensorSettingsCreateForm.name.$error.minlength">Name should be greater than 3
                            characters </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="manufacturer">
                        Manufacturer
                    </label>
                    <input type="text" required ng-minlength="3" name="manufacturer" ng-model="currentXraySensorSetting.manufacturer"
                        ng-change="handleInputChange('manufacturer')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.manufacturer.$touched && xraySensorSettingsCreateForm.manufacturer.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.manufacturer.$error.required">Manufacturer Name is required
                        </div>
                        <div ng-if="xraySensorSettingsCreateForm.manufacturer.$error.minlength">Manufacturer Name should be
                            greater than 3 characters </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="modelNumber">
                        Model Number
                    </label>
                    <input type="text" required ng-minlength="2" name="modelNumber" ng-model="currentXraySensorSetting.modelNumber"
                        ng-change="handleInputChange('modelNumber')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.modelNumber.$touched && xraySensorSettingsCreateForm.modelNumber.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.modelNumber.$error.required">Model Number is required</div>
                        <div ng-if="xraySensorSettingsCreateForm.modelNumber.$error.minlength">Model Number should be
                            greater than 2 characters </div>
                    </div>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="prodName">
                        Product Name
                    </label>
                    <input type="text" required ng-minlength="3" name="prodName" ng-model="currentXraySensorSetting.prodName"
                        ng-change="handleInputChange('prodName')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.prodName.$touched && xraySensorSettingsCreateForm.prodName.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.prodName.$error.required">Product Name is required</div>
                        <div ng-if="xraySensorSettingsCreateForm.prodName.$error.minlength">Product Name should be greater
                            than 3 characters </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="height">
                        Image Height (mm)
                    </label>
                    <input type="number" required min="1" max="10000" name="height" ng-model="currentXraySensorSetting.height"
                        ng-change="handleInputChange('height')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.height.$touched && xraySensorSettingsCreateForm.height.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.height.$error.required">Image Height required</div>
                        <div ng-if="xraySensorSettingsCreateForm.height.$error.min">Image Height should be greater than 1
                        </div>
                        <div ng-if="xraySensorSettingsCreateForm.height.$error.max">Image Height should be less than 10,000.
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="width">
                        Image Width (mm)
                    </label>
                    <input type="number" required min="1" max="10000" name="width" ng-model="currentXraySensorSetting.width"
                        ng-change="handleInputChange('width')" class="input-group form-control">
                    <div ng-if="xraySensorSettingsCreateForm.width.$touched && xraySensorSettingsCreateForm.width.$invalid"
                        style="color:red; display: inline-block;">
                        <div ng-if="xraySensorSettingsCreateForm.width.$error.required">Image Width required</div>
                        <div ng-if="xraySensorSettingsCreateForm.width.$error.min">Image Width should be greater than 1
                        </div>
                        <div ng-if="xraySensorSettingsCreateForm.width.$error.max">Image Width should be less than 10,000.
                        </div>
                    </div>
                </div>
            </div>



        </form>
    </div>

    <div class="col-md-12 clearfix">
        <button class="btn btn-sm btn-success pull-right" ng-disabled="!isChanged && formErrors" ng-click="saveXraySensorSettings()">
            <span class="fa fa-save"></span>
            &nbsp;Save
        </button>
    </div>

</div>