<div class="container-fluid xray-auto-rotate-settings-container">
    <!-- <div class="row content-title-container" style="margin: 0">
        <div class="col-sm-3 branding">
            <h4>
                Xray Sensor
            </h4>
        </div> -->
        <!-- <div class="col-sm-9" style="padding-top: 4px">
            <button class="btn btn-sm btn-success" ng-show="isEdited && !formErrors" ng-click="saveXraySensorSetting()">
                <span class="fa fa-save"></span>
                &nbsp;Save
            </button>
            <button class="btn btn-sm btn-danger" ng-click="deleteXraySensorSetting()">
                <span class="fa fa-trash"></span>
                &nbsp;Delete
            </button>
        </div> -->
    <!-- </div> -->
    <t32-page-header 
      title-text="titleText"
      title-container-style="titleStyle" 
      menu-target="#edit-sensor-sidebar"
      menu-bar-len="{{menuBarLen}}"
      title-child-div-class="titleChildDivClass">
   </t32-page-header>
    <t32-popup-closer special-close="cancel()">
    </t32-popup-closer>
    <div class="row" style="margin: 0">
        <div class="col-md-12 xray-auto-rotate-settings-container">
            <div class="col-md-3 content-sidebar">
                <div class="large-header" style="padding-top: 5px; padding-bottom: 5px;">
                    <h5>
                        Edit Setting
                    </h5>
                </div>
                <div id="edit-sensor-sidebar" class="collapse" style="overflow: auto">
                    <ul class="list-unstyled components list-wrapper" style="min-height: calc(80vh - 40px); max-height: calc(80vh - 40px);">
                        <li class="list-item" ng-repeat="setting in xraySensorSettings" ng-click="showSetting(setting)"
                            ng-class="isSelected(setting)" ng-model="selectedSubSetting" style="font-size: 12px;">
                            {{setting.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" style="min-height:80vh; max-height:80vh; overflow-y: auto;">
                <div class="row" style="margin: 0; margin-top: 15px;">
                    <div class="col-sm-12 card card-container">
                        <form name="xraySensorSettingsEditForm" id="xraySensorSettingsEditForm" ng-model="xraySensorSettingsEditForm">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">
                                        Setting Name
                                    </label>
                                    <input type="text" required ng-minlength="3" name="name" ng-model="currentXraySensorSetting.name" ng-change="handleInputChange('name')" class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.name.$touched && xraySensorSettingsEditForm.name.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.name.$error.required">Name is required</div>
                                        <div ng-if="xraySensorSettingsEditForm.name.$error.minlength">Name should be greater than 3 characters </div>
                                        <!-- <div ng-if="xraySensorSettingsEditForm.name.$error.maxlength">Name should less than 10 characters</div> -->
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="manufacturer">
                                        Manufacturer
                                    </label>
                                    <input type="text" required ng-minlength="3" name="manufacturer" ng-model="currentXraySensorSetting.manufacturer" ng-change="handleInputChange('manufacturer')" class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.manufacturer.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.manufacturer.$error.required">Name is required</div>
                                        <div ng-if="xraySensorSettingsEditForm.manufacturer.$error.minlength">Name should be greater than 3 characters </div>
                                        <!-- <div ng-if="xraySensorSettingsEditForm.manufacturer.$error.maxlength">Name should less than 10 characters</div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="modelNumber">
                                        Model Number
                                    </label>
                                    <input type="text" required ng-minlength="2" name="modelNumber" ng-model="currentXraySensorSetting.modelNumber" ng-change="handleInputChange('modelNumber')" class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.modelNumber.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.modelNumber.$error.required">Model Number is required</div>
                                        <div ng-if="xraySensorSettingsEditForm.modelNumber.$error.minlength">Model Number should be greater than 2 characters </div>
                                        <!-- <div ng-if="xraySensorSettingsEditForm.modelNumber.$error.maxlength">Name should less than 15 characters</div> -->
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="prodName">
                                        Product Name
                                    </label>
                                    <input type="text" required ng-minlength="3" name="prodName" ng-model="currentXraySensorSetting.prodName" ng-change="handleInputChange('prodName')" class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.prodName.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.prodName.$error.required">Product Name is required</div>
                                        <div ng-if="xraySensorSettingsEditForm.prodName.$error.minlength">Product Name should be greater than 3 characters </div>
                                        <!-- <div ng-if="xraySensorSettingsEditForm.modelNumber.$error.maxlength">Name should less than 15 characters</div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
    
                                <div class="form-group col-md-6">
                                    <label for="height">
                                        Image Height (mm)
                                    </label>
                                    <input type="number" required ng-min="1" ng-max="10000" name="height" ng-model="currentXraySensorSetting.height" ng-change="handleInputChange('height')" class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.height.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.height.$error.required">Image Height required</div>
                                        <div ng-if="xraySensorSettingsEditForm.height.$error.min">Image Height should be greater than 1 </div>
                                        <div ng-if="xraySensorSettingsEditForm.height.$error.max">Image Height should be less than 10,000.</div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="width">
                                        Image Width (mm)
                                    </label>
                                    <input type="number" required ng-min="1" ng-max="10000" name="width" ng-model="currentXraySensorSetting.width" ng-change="handleInputChange('width')"  class="input-group form-control">
                                    <div ng-if="xraySensorSettingsEditForm.width.$invalid" style="color:red; display: inline-block;">
                                        <div ng-if="xraySensorSettingsEditForm.width.$error.required">Image Width required</div>
                                        <div ng-if="xraySensorSettingsEditForm.width.$error.min">Image Width should be greater than 1 </div>
                                        <div ng-if="xraySensorSettingsEditForm.width.$error.max">Image Width should be less than 10,000.</div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12 clearfix">
                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteXraySensorSetting()">
                            <span class="fa fa-trash"></span>
                            &nbsp;Delete
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-sm btn-success pull-right" ng-disabled="!isEdited && formErrors" ng-click="saveXraySensorSetting()">
                            <span class="fa fa-save"></span>
                            &nbsp;Save
                        </button>
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>