<div class="col-xs-6" style="padding: 0;" ng-show="show">
    <!-- <span>
        <b>Xray Sensor Settings</b>
    </span> -->
    <label>
        Sensor
    </label>
    <div class="input-group">
        <select ng-options="item as item.name for item in xraySensorSettings | filter:isFromLoggedInClinic" ng-model="currentXraySensorSetting"
            ng-change="onChange()" class="form-control">
        </select>
        <div class="input-group-addon"  ng-click="onEdit($event)">
            <a href="#">
                <span>
                    <i class="fa fa-pencil fa-lg warning-edit"></i>
                </span>
            </a>
        </div>
        <div class="input-group-addon"  ng-click="onCreate($event)">
            <a href="#">
                <span>
                    <i class="fa fa-plus fa-lg"></i>
                </span>
            </a>
        </div>
        <div class="input-group-addon"  ng-click="onDelete($event)">
            <a href="#">
                <span>
                    <i class="fa fa-trash fa-lg" style="color:red;"></i>
                </span>
            </a>
        </div>
    </div>
</div>