<!-- <select ng-options="directory as directory for directory in directoryList" ng-model="selectedFolder"
    class="form-control">
    <option value=""> </option>
</select> -->

<div class="mt-15">
    <ul class="list-group list-group-flush" ng-repeat="folder in directoryList">
        <li class="list-group-item clearfix">
            <div class="col-sm-2">
                <img src="img/dental-folder.svg" width="60px" />
            </div>
            <div class="col-sm-8">
                <p class="clinic_name" style="font-size: 20px;">{{folder}}</p>
                <address class="m-0">
                    {{rootPath}}{{ext}}{{folder}}
                </address>
            </div>
            <div class="col-sm-2 mt-10">
                <button class="btn btn-sm btn-success" ng-click="selectFolder(folder)">Xray</button>
            </div>
        </li>
    </ul>
    <!-- <ul class="list-group list-group-flush" ng-if="!directoryList.length">
        <li class="list-group-item clearfix">
            <div class="col-sm-2">
                <i class="fa fa-warning" style="font-size:48px;color:orange"></i>&nbsp;
                <img src="img/dental-folder.svg" width="60px" />
            </div>
            <div class="col-sm-8">
                <p class="clinic_name" style="font-size: 20px;">Local Folder is empty</p>
                <address class="m-0">
                    
                </address>
            </div>
        </li>
    </ul> -->
    <div class="row" style="min-height: calc(80vh - 100px); max-height: calc(80vh - 100px);" ng-if="!directoryList.length">
        <!-- <div class="col-sm-2"></div> -->
        <div class="page-center">
            <img src="img/folder-empty.svg" width="300px"/>
            <div>
                <h3 class="title">
                    Folder is empty
                </h3>
            </div>
        </div>
        <!-- <div class="col-sm-2"></div> -->
    </div>
</div>
