<button class="btn btn-link mr-2" appDebounceClick (debounceClick)="refreshOfflineData()" [debounceTime]="600" [disabled]="isDisabled || !refreshCount || inRefresh || refreshBusy" *ngIf="!patient else patientButton">
    <span class="fa fa-refresh" [ngClass]="{'fa-spin text-warning': inRefresh}"></span>
    <div class="d-inline">
        Refresh Offline Data&nbsp;
        <span class="badge badge-danger icon-badge icon-badge-sm" *ngIf="refreshCount">{{refreshCount}}</span>
    </div>
</button>

<ng-template #patientButton>
    <button class="btn btn-primary btn-sm" appDebounceClick (debounceClick)="refreshOfflineData()" [debounceTime]="600" [disabled]="isDisabled || inRefresh || refreshBusy || refreshComplete">
        <span class="fa fa-check" *ngIf="refreshComplete"></span>
        <span class="fa fa-refresh" [ngClass]="{'fa-spin text-warning': inRefresh}" *ngIf="!refreshComplete"></span>
        Refresh
    </button>
</ng-template>
