<!-- <div class="d-flex flex-column h-100">
    
    <div class="p-3 bg-light border-bottom">
        <button class="btn btn-link btn-sm p-0 mb-1" (click)="cancel()">
            <span class="fa fa-arrow-circle-left"></span> Go Back
        </button>
        <h6>Quick Download</h6>
        <app-quick-download-form></app-quick-download-form>
    </div>
    
    <div class="row h-100 no-gutters">
        <div class="col-4 h-100 border-right">
            <div class="p-3 d-flex flex-column h-100 overflow-hidden">
                <h6>Patient Search</h6>
                <app-patient-search mode="all" (onData)="handleSearchedPatients($event)"></app-patient-search>
                <div class="search-results overflow-auto" *ngIf="searchResult.length">
                    <ul class="list-group list-group-flush h-100 overflow-auto" *ngIf="searchResult.length">
                        <li class="list-group-item p-2" *ngFor="let patient of searchResult">
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <h5 class="mb-0">{{patient.name}}</h5>
                                    <small>
                                        <span>ChartId: {{patient.clinicData?.chartId}}</span>
                                        <span class="ml-1">DOB: {{patient?.dob | date:'shortDate'}}</span>
                                    </small>
                                </div>
                                <div>
                                    <button class="btn btn-link" [disabled]="isSelected(patient._id)" (click)="selectSinglePatient(patient)">
                                        <span class="fa fa-arrow-circle-o-right"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mt-2 text-right" *ngIf="searchResult.length">
                    <button class="btn btn-primary btn-sm" (click)="selectAll()">Select All</button>
                </div>
            </div>
        </div>

        <div class="col-8 h-100">
            
            <div class="p-3 h-100 d-flex flex-column">
                <h6>Selected Patients</h6>
                <ul class="list-group list-group-flush h-100 overflow-auto" *ngIf="selectedForDownload.length">
                    <li class="list-group-item p-2" *ngFor="let patient of selectedForDownload">
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <h5 class="mb-0">{{patient.name}}</h5>
                                <small>
                                    <span>ChartId: {{patient.clinicData?.chartId}}</span>
                                    <span class="ml-1" *ngIf="patient.email">
                                        <span class="fa fa-envelope"></span> {{patient.email}} 
                                    </span>
                                    <span class="ml-1" *ngIf="patient.smsPhone">
                                        <span class="fa fa-phone"></span> {{patient.smsPhone}}
                                    </span>
                                </small>
                            </div>
                            <div>
                                <button class="btn btn-link btn-sm text-danger" (click)="removeSelected(patient._id)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mt-2 text-right" *ngIf="selectedForDownload.length">
                    <button class="btn btn-link btn-sm text-danger" (click)="cancel()">Cancel</button>
                    <button class="btn btn-primary btn-sm" (click)="download()">Download</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-home-button></app-home-button>
<div class="d-flex flex-column h-100" *ngIf="!isDownloading else loading">
    <div class="card shadow-sm">
        <div class="card-body">
            <h6>Quick Download</h6>
            <app-quick-download-form></app-quick-download-form>
        </div>
    </div>
    <div class="card h-100 mt-2 shadow-sm">
        <div class="card-body h-100">
            <div class="row h-100 no-gutters">
                <div class="col-4 pr-2 h-100 border-right">
                    <div class="d-flex flex-column h-100 overflow-hidden p-1">
                        <h6>Patient Search</h6>
                        <app-patient-search type="all" mode="online" classList="form-control-sm" (onData)="handleSearchedPatients($event)"></app-patient-search>
                        <div class="h-100 overflow-auto">
                            <div class="text-center pt-5" *ngIf="!searchResult.length">
                                <img class="opacity-50 img-fluid" width="300px" src="assets/img/svg/undraw_people_search_cloud.svg" alt="cloud search result placeholder image">
                            </div>
                            <ul *ngIf="searchResult.length" class="list-group list-group-flush mh-100 overflow-auto border shadow-sm rounded">
                                <li class="list-group-item" *ngFor="let patient of searchResult">
                                    <div class="d-flex w-100 justify-content-between">
                                        <app-patient-detail-view
                                            [patient]="patient"
                                            header="name"
                                            details="clinicData.chartId,dob"
                                        ></app-patient-detail-view>
                                        <div>
                                            <button class="btn btn-link" [disabled]="isSelected(patient._id)" (click)="selectSinglePatient(patient)">
                                                <span class="fa fa-arrow-circle-o-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2 text-right" *ngIf="searchResult.length">
                            <button class="btn btn-primary btn-sm" (click)="selectAll()">Select All</button>
                        </div>
                    </div>
                </div>
        
                <div class="col-8 pl-3 h-100">
                    
                    <div class="h-100 p-1 d-flex flex-column">
                        <h6>Selected Patients</h6>
                        <div class="h-100 overflow-auto">
                            <div class="text-center pt-5" *ngIf="!selectedForDownload.length">
                                <img class="opacity-50 img-fluid" width="400px" src="assets/img/svg/undraw_invite.svg" alt="Selected patients placeholder image">
                            </div>
                            <ul *ngIf="selectedForDownload.length" class="list-group list-group-flush mh-100 overflow-auto border shadow-sm rounded">
                                <li class="list-group-item" *ngFor="let patient of selectedForDownload">
                                    <div class="d-flex w-100 justify-content-between">
                                        <app-patient-detail-view
                                            [patient]="patient"
                                            header="name"
                                            details="clinicData.chartId,email,smsPhone"
                                        ></app-patient-detail-view>
                                        <div>
                                            <button class="btn btn-link btn-sm text-danger" (click)="removeSelected(patient._id)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2 text-right" *ngIf="selectedForDownload.length">
                            <button class="btn btn-link btn-sm text-danger" routerLink="/">Cancel</button>
                            <button appDebounceClick (debounceClick)="download()" [debounceTime]="600" class="btn btn-primary btn-sm">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="row h-100">
        <div class="col text-center p-5">
            <app-loading-view></app-loading-view>
            <small class="d-block mt-2">Downloading offline xray for patients, please wait... You can work on your downloaded patients by going back home.</small>
        </div>
    </div>
</ng-template>