<!-- <div class="landing">
  <div class="col-md-12" style="padding-top: 70vh">
    <button class="btn btn-info" routerLink="/download">
      Download Offline Data
    </button>
  </div>

  <div class="col-md-12" style="padding-top:18vh;">
    <div>
      <span id="appVersion" style="color: gray;">
        &nbsp;
      </span>
    </div>
    <div>
      <span id="studioCopyRight" style="color: gray;">
        &copy;&nbsp; tab32. All Rights Reserved.
      </span>
    </div>
  </div> 
</div> -->