div.landing {
  background-image: url(../img/imaging-studio-splash.png);
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.seventyPercent-Modal .modal-dialog{
  width: 70%; height: 70%;
  top:5px; bottom: 0; left: 0; right: 0;
  margin: auto
}

.eightyPercent-Modal .modal-dialog{
  width: 80%; height: 80%;
  top:5px; bottom: 0; left: 0; right: 0;
  margin: auto
}

.fiftyPercent-Modal .modal-dialog{
    width: 50%; height: 50%;
    top:5px; bottom: 0; left: 0; right: 0;
    margin: auto
  }

.sixtyPercent-Modal .modal-dialog{
    width: 60%; height: 60%;
    top:5px; bottom: 0; left: 0; right: 0;
    margin: auto
}

.ninetyPercent-Modal .modal-dialog{
  width: 90%; height: 90%;
  top:5px; bottom: 0; left: 0; right: 0;
  margin: auto
}

.largest-Modal .modal-dialog{
  width: 95%; height: 95%;
  top:5px; bottom: 0; left: 0; right: 0;
  margin: auto
}

/* Login */
#tab32 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

#marilyn {
  padding: 0 0 10px 0;
  margin: 0px;
  text-align: center;
  border-radius: 14px;
  border: 1px solid #ccc;
  width: 400px;
  min-width: 400px;
  margin-left: auto ;
  margin-right: auto ;
  background: linear-gradient(#FFF, #E9E9E9);
  box-shadow: 0px 2px 2px 1px #B9B9B9; /*hortizontal offset, vertical offset, radius blur, distance, color*/
}

a.loginGoogleButtons {
  /*padding: 0 0 0 60px;*/
  margin: 0;
  display: block;
  color: #002666;
  text-align: left;
  /*text-decoration: none;*/
  font-weight: bold;
  color: #39C;
  line-height: 44px;
  width: 278px; /* with padding = 278 */
  white-space: nowrap;
  margin-left: auto ;
  margin-right: auto ;
  background: #FFFFFF url(../img/btn_google_base.png) 0 0 no-repeat;
}
a.loginGoogleButtons:hover {
  color: #393;
  text-decoration: none;
  background: #FFFFFF url(../img/btn_google_hover.png) 0 0 no-repeat;
}
p.loginTextLeft {
  text-align: left;
  padding: 0 0 0 47px;
}

/* end of login */
.popupcloser {
  color : black;
  text-shadow: none !important;
  font-size : 20px;
  position: absolute;
  margin: 0;
  top: 5px; 
  right: 7px; 
  opacity: 0.9;
}

#searchWidgetInput {
  width : 250px;
  border-top: 2px;
  border-right: 2px;
  border-bottom: 2px solid #CCC;
  border-left: 2px;
  bottom : 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: none;
}

.navBgDisabledSecondaryColor {
    color: #999;
}
.noFocusOutline:focus {
    outline-width: 0;
}


.arrow {
  cursor: pointer;
  display: block;
  height: 64px;
  margin-top: -35px;
  outline: medium none;
  position: absolute;
  top: 50%;
  width: 64px;
  z-index: 5;
}

.arrow.prev {
  background-image: url("../img/prev.png");
  left: 20px;
  opacity: 0.2;
  transition: all 0.2s linear 0s;
}

.arrow.next {
  background-image: url("../img/next.png");
  opacity: 0.2;
  right: 20px;
  transition: all 0.2s linear 0s;
}

.arrow.prev:hover{
  opacity:1;
}

.arrow.next:hover{
  opacity:1;
}

.nav1 {
  /* bottom: -4px; */
  display: block;
  height: auto;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  /* position: absolute; */
  right: 0;
  /* text-align: center; */
  width: 100%;
  z-index: 5;
}

.nav1 li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 5px 8px;
  position: relative;
  width: 50px;
}

.nav1 li.active {
  border: 5px solid #a94442;
}

.nav1 li img {
  width: 100%;
}

.slider {
  border: 15px solid #FFFFFF;
  border-top: 2px;
  border-radius: 5px;
  height: 500px;
  margin: 10px 0px 10px 64px;
  position: relative;
  width: 800px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  max-width:800px;
  max-height:500px;
}

.slide.ng-hide-add {
  opacity:1;
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
  -webkit-transform: rotateX(50deg) rotateY(30deg);
  -moz-transform: rotateX(50deg) rotateY(30deg);
  -ms-transform: rotateX(50deg) rotateY(30deg);
  -o-transform: rotateX(50deg) rotateY(30deg);
  transform: rotateX(50deg) rotateY(30deg);
  -webkit-transform-origin: right top 0;
  -moz-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  -o-transform-origin: right top 0;
  transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.slide.ng-hide-remove {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
  display:block!important;
  opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}


/* For t32-print */
@media screen {
  #printSection {
    display: none;
  }

  #t32HiddenMeasure {
    display: none;
  }

  .hidden-screen {
    visibility:hidden;      
  }    
}

#adv-settings-btn{
  color: white;
}

#adv-settings-button:hover{
  color:white;
}

.badge-custom {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-danger {
  background-color: #b94a48;
}
.badge-danger:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.text-black{
  color: black !important;
}

.pa-20{
  padding: 20px;
}

.pa-15{
  padding: 15px;
}

/** Clinic Selection Page redesign **/
p.clinic_name {
  color: #002666;
  font-size: 2em;
  font-weight: bold;
  white-space: pre-wrap;
}

.clinic-selection-container {
  max-width: 768px; 
  margin: 0 auto;
}
.clinic-search-box {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 36px;
  outline: 0;
  font-weight: 600;
}

.clinic-selection-container p.clinic_name {
  font-size: 22px;
}

.clinic-selection-container .searchbox-wrapper {
  margin-bottom: 2em;
  padding: 0 .5em;
}

.clinic-selection-container .clinic-item {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: .5em;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.clinic-selection-container .clinic-item .address-section {
  margin-bottom: 0;
}

.clinic-selection-container .clinic-item .square-button {
  margin-top: .5em;
}

.pl-1{
  padding-left: 1em;
}

.patient-search-box {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 20px;
  outline: 0;
  font-weight: 600;
}

p.patient_name {
  color: #002666;
  font-size: 2em;
  font-weight: bold;
  white-space: pre-wrap;
}

.patient-selection-container {
  margin: 0 auto;
}

.patient-selection-container p.patient_name {
  font-size: 16px;
}

.patient-selection-container .searchbox-wrapper {
  margin-bottom: 2em;
  padding: 0 .5em;
}

.patient-selection-container .patient-item {
  margin-bottom: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.patient-selection-container .patient-item .address-section {
  margin-bottom: 0;
}

.patient-selection-container .patient-item .square-button {
  margin-top: .5em;
}

.pl-1{
  padding-left: 1em;
}


/*sidebar and menu modal css */
@media (max-width: 992px){
  #t32-menu-button,
  #menu-button{
    display: inline;
    margin-top: 5px !important;
    margin-bottom: 8px !important;
    float: unset !important;
  }

  .content-sidebar ul {
    margin-bottom: 0px !important; 
    min-height: auto !important; 
    max-height: 200px !important; 
    overflow-y: auto !important;
  }

  .branding h4 {
    display: inline;
    padding-left: 5px;
  }
}

@media (min-width: 993px){
  .content-sidebar ul{
    margin-bottom: 0px; 
    min-height: 640px; 
    max-height: 640px; 
    overflow-y: auto;
  }

  .content-sidebar div.collapse{
    display: block;
    height: auto !important;
  }
}

.content-title-container{
  background-color: #36b5e4; 
  height: 50px;
  max-height: 50px;
  margin: 0px;
  border-bottom: 6px solid #3cb44a
  /* box-shadow: 0 1px 6px -1px #bfbfbf; */
}


.branding h4{
  color: black;
  font-weight: 600;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.branding{
  /* background-color: #33b5e6; */
  /* text-shadow: 0.5px 0.5px 0.1px rgba(0,0,0,.5); */
  /* border-top-left-radius: 6px; */
}

.content-sidebar{
  background-color:#e8e8e8;
  color:#333;
  padding: 0 !important;
}

.content-sidebar > .list-wrapper > .list-item{
  margin-bottom:1px;
  padding:5px 15px;
  border-bottom:1px solid #f1f1f1;
  cursor:pointer
}

.content-sidebar .list-wrapper .list-item.selected,
.content-sidebar .list-wrapper .list-item:hover{
  background-color:#fff;
  color:#4d4d4d
}

.content-sidebar .small-header{
  padding: 0px 15px;
  background-color:#f1f1f1;
  font-size:10px;
  color:#111;
}

.content-sidebar .large-header{
  padding: 0px 15px;
  background-color:#f1f1f1;
  font-size: 10px;
  color:#111;
}

.content-sidebar .list-wrapper .list-item{
  margin-bottom:1px;
  padding:5px 15px;
  border-bottom:1px solid #f1f1f1;
  cursor:pointer
}


.content-sidebar .list-wrapper .list-item.selected,
.content-sidebar .list-wrapper .list-item:hover{
  background-color:#fff;
  color:#4d4d4d;
  cursor: pointer;
}

.list-item-wrapper[disabled]{
  position: relative;
  cursor: not-allowed;
}

li[disabled]{
  pointer-events: none;
}

.content-sidebar ul li.li-div{
  padding-top: 10px;
}

.selected-list-item{
  background-color:#fff;
  color:#4d4d4d
}

.title {
  text-align: center;
  font-weight: bold;
}


.page-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button-alt > button.close{
  color: white;
  /* text-shadow: none !important; */
  font-size : 20px;
  position: absolute;
  margin: 0;
  top: 5px; 
  right: 7px; 
  opacity: 0.6;
}

.close-button-alt:hover{
  color: white;
  opacity: 1;
}


/* Common margin and paddings */
.m-5{
  margin: 5px !important;
}

.mb-5{
  margin-bottom: 5px !important;
}

.mt-5{
  margin-top: 5px !important;
}

.mr-5{
  margin-right: 5px !important;
}

.ml-5{
  margin-left: 5px !important;
}

.p-5{
  padding: 5px !important;
}

.pd-5{
  padding-bottom: 5px !important;
}

.pt-5{
  padding-top: 5px !important;
}

.pr-5{
  padding-right: 5px !important;
}

.pl-5{
  padding-left: 5px !important;
}


.m-10{
  margin: 10px !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.mt-10{
  margin-top: 10px !important;
}

.mr-10{
  margin-right: 10px !important;
}

.ml-10{
  margin-left: 10px !important;
}

.p-10{
  padding: 10px !important;
}

.p-10{
  padding: 10px !important;
}

.pd-10{
  padding-bottom: 10px !important;
}

.pt-10{
  padding-top: 10px !important;
}

.pr-10{
  padding-right: 10px !important;
}

.pl-10{
  padding-left: 10px !important;
}



.m-2{
  margin: 2px !important;
}

.mb-2{
  margin-bottom: 2px !important;
}

.mt-2{
  margin-top: 2px !important;
}

.mr-2{
  margin-right: 2px !important;
}

.ml-2{
  margin-left: 2px !important;
}

.p-2{
  padding: 2px !important;
}

.pd-2{
  padding-bottom: 2px !important;
}

.pt-2{
  padding-top: 2px !important;
}

.pr-2{
  padding-right: 2px !important;
}

.pl-2{
  padding-left: 2px !important;
}


.m-15{
  margin: 15px !important;
}

.mb-15{
  margin-bottom: 15px !important;
}

.mt-15{
  margin-top: 15px !important;
}

.mr-15{
  margin-right: 15px !important;
}

.ml-15{
  margin-left: 15px !important;
}

.p-15{
  padding: 15px !important;
}

.pd-15{
  padding-bottom: 15px !important;
}

.pt-15{
  padding-top: 15px !important;
}

.pr-15{
  padding-right: 15px !important;
}

.pl-15{
  padding-left: 15px !important;
}

.m-0{
  margin: 0px !important;
}

.mb-0{
  margin-bottom: 0px !important;
}

.mt-0{
  margin-top: 0px !important;
}

.mr-0{
  margin-right: 0px !important;
}

.ml-0{
  margin-left: 0px !important;
}

.p-0{
  padding: 0px !important;
}

.pd-0{
  padding-bottom: 0px !important;
}

.pt-0{
  padding-top: 0px !important;
}

.pr-0{
  padding-right: 0px !important;
}

.pl-0{
  padding-left: 0px !important;
}

button > label{
  font-weight: normal
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #333;
  opacity: 0.5;
}