#canvas-red{
  background-color: red
}
#canvas-black{
  background-color: black
}
#canvas-lime{
  background-color: lime
}
#canvas-green{
  background-color: green
}
#canvas-blue{
  background-color: blue
}
#canvas-purple{
  background-color: purple
}
#canvas-orange{
  background-color: orange
}

.canvas-color-selectors{
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-top: 5px;
  border-radius: 10px;
}

.canvas-color-selectors:hover {
  z-index: 1;
  transform: scale(1.5);
}

#canvas-color-selector-container{
  display: inline;
}

#canvas-main-container{
  float: left;
  /* min-width: 750px; */
}

#canvas-pad{
  /* position: absolute;  */
  /* left:0;  */
  z-index: 101
} 

#canvas-odontogram{
  z-index: 0;
}

.canvas-line-thickness-slider{
  display: inline;
  width: 75px;
}

#canvas-button-container{
  padding: 0;
  width: 150px;
}

#t32-onboarding-today-mobile{
  display: none;
}

#first-navbar-recent-search{
  position: relative; top: 20px; left: 280px;
}

.canvas-eraser-div{
  display: inline-block;
  /* background-color: #f8f8f8; */
  /* padding-left: 5px; */
  padding-right: 5px;
  /* padding-top: 5px;
  border-radius: 10px; */
}