t32XrayRuler_body {
  background: #777;
  color: #fff;
  font-size: 10pt;
}

#helptext {
  padding-left: 1em;
  font-weight: bold;
}

#t32-xray-ruler-background-img {
  position: absolute;
  left: 10px;
  background: transparent;
}

#t32-xray-ruler-measure {
  position: absolute;
  left: 10px;
  background: transparent;
  z-index: 1;
}
#t32-xray-ruler-loupe {
  position: fixed;  /* stays when rest scrolls. */
/*  opacity: 0;
*/  background: transparent;
  box-shadow: 3px 3px 15px;
  border-radius: 10px;
  color: #000;     /* influences shadow color. */
  right:45px;
  z-index : 1;
}

#t32-xray-ruler-tools {
  position: fixed;  /* stays when rest scrolls. */
  background: white;
  box-shadow: 3px 3px 15px;
  border-radius: 10px;
  color: #000;     /* influences shadow color. */
  right:45px;
  width : 280px;
  padding : 15px;
  z-index : 1;
}

#download-result {
  font-size: larger;
  font-weight: bold;
  color: #11f;
  background: #999;
  padding: 2px;
}
#download:hover {
color: #fff;
}

#xray-ruler-modal-container{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.xray-ruler-modal .modal-dialog{
  width: 70%; 
  height: 70%;
  top:5px; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: auto;
  min-width: 800px;
  max-width: 1000px;
}
