.xray-chart-container,
.pano-chart-container,
.ceph-chart-container,
.ortho-chart-container{
    background-color: black; 
    /* min-width:1020px;  */
    /* max-width:1020px;  */
    /* max-width: 815px; */
    padding:5px 5px 5px 5px; 
    /* margin: 20px; */
    /* overflow-y: auto; */
    /* border: 3px solid; */
    border-radius: 6px;
}

.xray-inner-chart-container,
.pano-inner-chart-container,
.ceph-inner-chart-container,
.ortho-inner-chart-container{
    /* max-width: 815px; */
    /* max-width: 815px; */
    /* border: 3px solid #f8bb86; */
    /* margin: 10px; */
    overflow-y: auto;
    border-radius: 6px;
    padding: 5px;
}

.ortho-inner-chart-container{
    padding:20px;
}

.maxillary-right-container,
.maxillary-left-container,
.mandibular-right-container,
.mandibular-left-container{
    display:inline-block; 
    /* padding-right:5px; */
}

.maxillary-right-empty,
.maxillary-left-empty,
.mandibular-right-empty,
.mandibular-left-empty{
    height: 30px; 
    width:100px; 
    display:inline-block; 
    margin:5px;
}

.maxillary-anterior-container, 
.mandibular-anterior-container{
    display:inline-block; 
    /* padding:0px 100px; */
}

.maxillary-right-pa,
.maxillary-right-iop,
.maxillary-anterior-iop,
.maxillary-left-pa,
.maxillary-left-iop,
.mandibular-right-pa,
.mandibular-right-iop,
.mandibular-anterior-iop,
.mandibular-left-pa,
.mandibular-left-iop,
.profile,
.jaw-inside,
.jaw-outside,
.bite-wing-empty{
    max-width: 100px;
    max-height: 100px;
    height: 100px; 
    width:100px; 
    display:inline-block; 
    margin:5px; 
    background-color: #eee; 
    box-shadow: 1px 1px 5px #f8bb86;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-size: 0.75em;
    /* border: 1px solid white; */
    border-radius: 6px;
}


.maxillary-anterior-pa,
.mandibular-anterior-pa{
    max-width: 100px;
    max-height: 150px;
    height: 150px; 
    width:100px; 
    display:inline-block; 
    margin:5px; 
    background-color: #eee; 
    box-shadow: 1px 1px 5px #f8bb86;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-size: 0.75em;
    /* border: 1px solid white; */
    border-radius: 6px;
}

.bite-wing-right,
.bite-wing-left{
    height: 100px; 
    width:150px; 
    display:inline-block; 
    margin:5px; 
    background-color: #eee; 
    box-shadow: 1px 1px 5px #f8bb86;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-size: 0.75em;
    /* border: 1px solid white; */
    border-radius: 6px;
}

/* .bite-wing-empty{
    height: 100px; 
    width:  320px; 
    max-height: 100px;
    max-width: 320px;
    display:inline-block; 
    margin:5px; 
} */

/* .mandibular-right-container,
.maxillary-right-container{
    padding-left: 5px;
} */

.bite-wing-container{
    /* margin:20px 0px; */
}

.maxillary-left-pa,
.maxillary-left-iop,
.maxillary-right-pa,
.maxillary-right-iop,
.mandibular-right-pa,
.mandibular-right-iop,
.mandibular-left-pa,
.mandibular-left-iop{
    height: 100px;
    width: 150px;
    max-height: 100px;
    max-width: 150px;
}

.maxillary-right-iop:hover,
.maxillary-right-pa:hover,
.maxillary-anterior-iop:hover,
.maxillary-anterior-pa:hover,
.maxillary-left-iop:hover,
.maxillary-left-pa:hover,
.bite-wing-right:hover,
.bite-wing-left:hover,
.mandibular-right-iop:hover,
.mandibular-right-pa:hover,
.mandibular-anterior-iop:hover,
.mandibular-anterior-pa:hover,
.mandibular-left-iop:hover,
.mandibular-left-pa:hover{
    border: 2px solid green;
    overflow-x: hidden;
    overflow-y: hidden;
    /*     transition: transform .5s;
    transform: scale(1.2);
    z-index: 1; */
    transition-timing-function: ease-in-out;
    background: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.selected{
    /* border: 2px solid red; */
    overflow-x: hidden;
    overflow-y: hidden;
    transition: transform .25s;
    transform: scale(1.05);
/*     z-index: 1; */
    transition-timing-function: ease-in-out;
    background: #eee;
/*     font-size: 1em; */
    border-radius: 6px;
}

.maxillary-right-empty,
.maxillary-left-empty,
.mandibular-right-empty,
.mandibular-left-empty{
    pointer-events: none;
}

.selected-count-number{
    /* padding-top: 15px; */
    font-size: 1.75em;
    color: red;
    pointer-events: none;
}

.maxillary-anterior-pa > .selected-count-number,
.mandibular-anterior-pa > .selected-count-number{
    /* padding-top: 40px; */
}

.disable-buttons{
    pointer-events: none;
    background-color: gray;
    border: none;
}

.rotation-buttons{
    cursor: pointer;
}

.rotation-buttons > i {
    color: orange;
}

.add-cursor{
    cursor: pointer;
}

.highlight-active-box{
    border: 1px solid red;
    transition: transform .25s;
    /* background-color: #33b5e6; */
    /* transform: scale(1.2); */
}

.edit-panel-container,
.photo-panel-container{
    /* max-width:1020px; */
    /* max-width: 815px;
    margin-left: 20px;  */
    padding:0;
    /* display: inline-flex; */
}

/* .photo-panel-container{
    margin-bottom: 15px;
} */


.edit-panel-selection-container{
    text-align: right;
    padding: 0;
}


.edit-photo-panel-container button{
    margin-bottom: 5px;
}

.edit-panel-container{
    margin-bottom: 5px;
}

.edit-photo-panel-container{
    padding: 15px;
}


/* .modal-content{
    min-height: 1000px;
    overflow-x: scroll;
    overflow-y: auto;
} */

/* .edit-panel-pencil,
.edit-panel-pencil:hover,
.edit-panel-pencil:focus{
    color: black
} */


/* .btn-warning,
.btn-success,
.btn-danger,
.btn-primary,
.btn-info{
    color: black;
}

.btn-warning:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-warning:focus,
.btn-success:focus,
.btn-danger:focus
.btn-primary:focus,
.btn-info:focus{
    color: black;
} */

/* #edit-panel-select{
    display: inline;
    width: auto;
} */

.edit-panel-input{
    display: inline;
    width: auto;
}

/* #create-mode{
    margin-left: 10px;
} */

#xray-upload-button{
    padding: 0;
    text-align: right;
    /* max-width: 1020px; */
    /* max-width: 815px;
    margin-left: 20px;
    margin-top: 10px; */
    margin-bottom: 20px;
}

.rotate-icons{
    color: orange;
    z-index: 2;
}

.xray-img-container{
    max-width: inherit;
    max-height: inherit;
}

.xray-img-container > img{
    max-width: inherit;
    max-height: inherit;
}

label.photo-panel-remove{
    position: absolute;
    right: 14px;
    color: red;
    cursor: pointer;
}
.nav1 li{
    border: 2px solid #AAAAAA;
}

.nav1 li.active {
    border: 2px solid #a94442;
}

.pano-chart-container .pano-1-container,
.ceph-chart-container .ceph-1-container{
    text-align: center;
}

.pano-1,
.ceph-1{
    height: 200px; 
    width: 400px; 
    display: inline-block; 
    margin: 20px;
    border: 2px solid #eee;
    background-color: #eee;
    box-shadow: 1px 1px 5px #f8bb86;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-size: 0.75em;
    border-radius: 6px;
}

/* #ceph-1{
    height: 200px; 
    width: 200px; 
} */

.pano-1:hover,
.ceph-1:hover{
    border: 2px solid green;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-timing-function: ease-in-out;
    background: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pano-1-container,
.ceph-1-container{
    background-color: black
}

.empty-div-container{
    height: 100px; 
    width:300px; 
    display:inline-block; 
    margin:5px; 
    /* background-color: #eee; 
    box-shadow: 1px 1px 5px #f8bb86; */
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-size: 0.75em;
    /* border: 1px solid white; */
    border-radius: 6px;
}

#jaw-inside-empty{
    width: 100px;
    height: 100px;
    margin:5px;
}
/* 
#profile-1:hover,
#profile-2:hover,
#profile-3:hover,
#jaw-inside-1:hover,
#jaw-inside-2:hover,
#jaw-outside-1:hover,
#jaw-outside-2:hover,
#jaw-outside-3:hover */

.profile:hover,
.jaw-inside:hover,
.jaw-outside:hover{
    border: 2px solid green;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-timing-function: ease-in-out;
    background: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hide-xray-panels{
    background: black;
    border: none;
    box-shadow: none;
    pointer-events: none;
    border: none !important;
}

.active-trash-can{
    border: 2px solid red;
    transition: transform .25s;
    transform: scale(1.2);
    z-index: 1;
    transition-timing-function: ease-in-out;
}

.none{
    background-color: none;
}

.active-image{
    border: 4px solid red;
}

.rotate{
    transform: rotate(90deg);
}

.applied-image{
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    color: white;
}

.xray-canvas-container{
    /* text-align: right; */
    padding: 0px;
    max-height: 700px;
}


.xray-images{
    z-index: -1;
    max-width: 375px;
    max-height: 375px;
    border-radius: 6px; 
}

#xray-image-slider{
    height: auto; 
    /* width: auto;  */
    border: none;
    /* background: black; */
    border-radius: 6px;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.container-zoom{
    zoom: 100%;
}

.rearrage-position-name{
    position: absolute;
    right: 5px;
    color: white;
}

@media only screen and (max-width: 540px){
    .container-zoom{
        zoom: 100%;
    }
}

/* @media only screen and (max-width: 726px){
    .container-zoom{
        zoom: 40%;
    }
} */


@media only screen and (min-width: 727px){
    .container-zoom{
        zoom: 50%;
    }
    .template-popup-closer>button{
        zoom: 150%
    }
}

@media only screen and (max-width: 768px){
    .xray-edit-controls-container{
        min-width: inherit;
        max-width: inherit;
        min-height: inherit !important;
        max-height: inherit !important;
    }
    .content-title-container{
        background-color: #36b5e4;
    }

    #template-edit-panel,
    #rotation-edit-panel,
    #driver-selection-panel{
        padding: 0;
    }
}

@media only screen and (max-width: 1000px){
    .xray-edit-window .modal-dialog{
        height: auto !important;
        width: auto !important;
    }

    .header-img{
        width: 75px !important
    }
}

@media only screen and (max-width: 1024px){
    .fa-2x {
        font-size: 1em;
    }
}

@media only screen and (min-width: 830px){
    .container-zoom{
        zoom: 60%;
    }
    .template-popup-closer>button{
        zoom: 140%
    }
}

@media only screen and (min-width: 993px){
    .container-zoom{
        zoom: 70%;
    }
    .template-popup-closer>button{
        zoom: 130%
    }
}

@media only screen and (min-width: 1350px){
    .container-zoom{
        zoom: 80%;
    }
    .template-popup-closer>button{
        zoom: 120%
    }
}
@media only screen and (min-width: 1700px){
    .container-zoom{
        zoom: 100%;
    }
    .template-popup-closer>button{
        zoom: 100%
    }
}

#template-edit-panel{
    padding-left: 0
}

/* @media only screen and (min-width: 1250px){

    .maxillary-right-pa,
    .maxillary-right-iop,
    .maxillary-left-pa,
    .maxillary-left-iop,
    .mandibular-right-pa,
    .mandibular-right-iop,
    .mandibular-left-pa,
    .mandibular-left-iop,
    .profile,
    .jaw-inside,
    .jaw-outside,
    .bite-wing-empty{
        height: 125px;
        width: 175px;
        max-width: 175px;
        max-height: 125px;
    }


    .maxillary-anterior-pa,
    .mandibular-anterior-pa{
        max-width: 125px;
        max-height: 175px;
        height: 175px; 
        width: 125px; 
    }

    .bite-wing-right,
    .bite-wing-left{
        height: 125px;
        width: 175px;
        max-height: 125px;
        max-width: 175px;
    }

} */

.xray-edit-container{
    background-color: black;
    padding: 0;
    /* border-bottom-right-radius: 6px; */
    /* border-bottom-left-radius: 6px; */
    /* border-radius: 30px; */
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    transition: 0.3s;
    padding: 15px;
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.card-container{
    margin-bottom: 15px;
}

img.xray-edit-image{
    max-width: 100%;
    /* min-height: calc(100vh - 90px); */
    max-height: 80vh;
    padding: 30px;
    /* border-radius: 30px; */
    /* margin: auto; */
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
    /* margin: 60px 0px 60px 0px; */
    /* padding: 15px; */
    /* border: 15px solid; */
}

.xray-edit-controls-container{
    /* min-height: 80vh; */
    height: 600px;
    max-height: 600px;
    /* margin: 60px 0 60px 0; */
    background: #eee;
    padding: 15px;
    /* border-bottom-left-radius: 6px; */
    overflow: auto;
    /* border-radius: 5px; */
}

.xray-edit-controls-button-container{
    padding: 15px;
}

.image-manipulation-icon,
.image-manipulation-slider,
.image-manipulation-checkbox,
.image-manipulation-label{
    display: inline;
    padding: 15px 0 0 0;
}

.image-manipulation-container{
    padding:  0;
}

/* .xray-edit-controls-button-container .fa-arrow-right,
.xray-edit-controls-button-container .fa-arrow-left{
    font-size: 3em;
} */

#arrow-container-left{
    padding-left: 0;
}

#arrow-container-right{
    padding-right: 0;
}


.xray-edit-controls-button-container.arrows{
    padding: 8px 15px;
}

.xray-edit-image-name-container{
    overflow-wrap: break-word;
    text-align: center;
    /* font-size: 1em; */
    padding-top: 5px;
}

/* tabset,
.nav-tabs,
.tab,
.modal-content,
div.well,
.sweet-alert,
.sweet-alert button,
.xray-chart-container,
.xray-inner-chart-container{
    --webkit-border-radius: 0px;
    border-radius: 0px;
} */

.modal-content,
.xray-chart-container,
.pano-chart-container,
.ceph-chart-container,
.ortho-chart-container,
.xray-inner-chart-container,
.pano-inner-chart-container,
.ceph-inner-chart-container,
.ortho-inner-chart-container,
.maxillary-right-pa,
.maxillary-right-iop,
.maxillary-anterior-iop,
.maxillary-left-pa,
.maxillary-left-iop,
.mandibular-right-pa,
.mandibular-right-iop,
.mandibular-anterior-iop,
.mandibular-left-pa,
.mandibular-left-iop,
.profile,
.jaw-inside,
.jaw-outside,
.maxillary-anterior-pa,
.mandibular-anterior-pa,
.bite-wing-right,
.bite-wing-left,
.maxillary-right-iop:hover,
.maxillary-right-pa:hover,
.maxillary-anterior-iop:hover,
.maxillary-anterior-pa:hover,
.maxillary-left-iop:hover,
.maxillary-left-pa:hover,
.bite-wing-right:hover,
.bite-wing-left:hover,
.mandibular-right-iop:hover,
.mandibular-right-pa:hover,
.mandibular-anterior-iop:hover,
.mandibular-anterior-pa:hover,
.mandibular-left-iop:hover,
.mandibular-left-pa:hover,
.selected,
.pano-1,
.ceph-1,
.xray-images,
#xray-image-slider{
    border-radius: 6px;
}

.modal-content{
    border: 0;
    border-radius: 0;
}

.xray-edit-controls-button{
    margin-bottom: 5px;
    min-width: 100%;
    display: block;
}

#xray-image-container{
    padding: 15px;
}

.xray-auto-rotate-settings-container,
.xray-sensor-settings-container{
    padding: 0;
    padding-right: 1px;
}

.warning-edit{
    color: #eea236;
}

.xray-auto-rotate-settings-sidebar,
.xray-sensor-settings-sidebar{
    margin-bottom: 0px; 
    min-height:80vh; 
    max-height:80vh; 
    overflow-y: auto; 
    padding: 0px; 
    /* border-bottom-left-radius: 6px; */
    border: 0;
}

.xray-edit-controls-button{
    margin-bottom: 5px;
    min-width: 100%;
    display: block;
}

#xray-image-container{
    padding: 15px;
}

.xray-auto-rotate-settings-container{
    padding: 0;
}

.warning-edit{
    color: #eea236;
}

/* .xray-auto-rotate-settings-sidebar{
    margin-bottom: 0px; 
    min-height:80vh; 
    max-height:80vh; 
    overflow-y: auto; 
    padding: 0px; 
    border-bottom-left-radius: 6px;
} */

.xray-edit-window .modal-dialog{
    height: 650px;
    width: 1000px;
    max-height: 650px;
    max-width: 1000px;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.t32-xray-background{
    background: #000000;
    border: 1px solid #000000
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    cursor: pointer;
}

.xray-image-edit-container .content-title-container{
    margin-left: -15px;
    margin-right: -15px;
}

.disconnected,
.disconnected:hover{
    color: red;
} 

.connected,
.connected:hover{
    color: green;
}

.connecting,
.connecting:hover{
    color: orange;
}

#dbIconWrapper{
    margin-right: 10px;
    margin-top: 6px;
}

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%  {   opacity: 0.65;    }
    25% {   opacity: 0.75;    }
    50% {   opacity: 1;       }
    75% {   opacity: 0.85;    }
    100%{   opacity: 0.75;    }
}