<div class="container-fluid">
   <t32-popup-closer ng-show="theModalInstance"
      the-modal-instance="theModalInstance">
   </t32-popup-closer>   
   <div class="row">&nbsp;</div>

   <div id="tab32">
      <img src="img/login_tab32_logo.png" width="425" height="140" alt="Tab32" />
   </div>

   <div id="marilyn">
      <p style="color: #3399cc; font-size: 35px; font-weight: bold; margin-top: 15px">Dental EHR</p>
      <img src="img/login_divide.png" width="284" height="2" alt="horizontal divide" /><br /><br />
      <p><a ng-click="onLogin()" class="loginGoogleButtons" target="_self">&nbsp;</a></p>
<!--       <img src="img/login_divide.png" width="284" height="2" alt="horizontal divide" />
      <p><a href="/clinic_profile_new" target="_self">Register New Clinic</a></p>
 -->      <img src="img/login_divide.png" width="284" height="2" alt="horizontal divide" />
      <p><a href="http://www.tab32.com/contact/" class="" target="_blank">Need help?</a></p>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-md-12 text-center">
         <small>
            For security protection, you will perform google login in a seperate browser window.
         </small>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div>
</div>   