<div class="container-fluid">
    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>

   <div class="text-center">
      <h3 class="title">Xray Studio Settings</h3>
   </div>

    <t32-popup-closer ng-show="theModalInstance"
        the-modal-instance="theModalInstance">
    </t32-popup-closer>   
    <br>
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3">License</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="setting.license" disabled>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" 
                            class="btn btn-warning"
                            ng-show="setting.license"
                            t32-action-confirmation
                            confirmation-title="Reset Studio License"
                            confirmation-msg="Do you want to use a new Xray Studio License?"
                            confirmation-label="Yes"
                            confirmation-cancel-label="CANCEL"
                            on-confirm="resetLicense()"
                            tooltip="Reset Licence" tooltip-placement="top" tooltip-trigger="mouseenter">
                            <i class="fa fa-refresh"></i>
                        </button>                    
                    </div>
                    <label class="control-label col-md-2" ng-show="showAdvanced">Logging Level</label>
                    <div class="col-md-2" ng-show="showAdvanced">
                        <select ng-options="logLevel for logLevel in logLevels"
                            ng-model="setting.logLevel"
                            class="form-control">
                            <option value=""> </option>
                        </select> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Xray Simulation</label>
                    <div class="col-md-9 checkbox">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" 
                            ng-model="setting.simulation">
                            &nbsp;&nbsp;<span ng-show="setting.simulation">In Simulation mode, Xrays are copied from a sample image pool instead of Xray Machine.  This provide a good way for user to get familar with the studio software.</span>
                    </div>
                </div>               
                <div class="form-group">
                    <label class="control-label col-md-3">Offline Image Storage</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="setting.tab32Root" disabled>
                    </div>
                    <label class="control-label col-md-2"  ng-show="showAdvanced">Local TCP Port</label>
                    <div class="col-md-3"  ng-show="showAdvanced">
                        <input type="text" class="form-control" ng-model="setting.localTcpPort" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group" ng-show="showAdvanced">
                    <label class="control-label col-md-3">Home Path</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="setting.appHomePath" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group" ng-show="showAdvanced">
                    <label class="control-label col-md-3">EHR URL</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="setting.ehrServer" required>
                    </div>
                </div>
                <div class="form-group" ng-show="showAdvanced">
                    <label class="control-label col-md-3">Update URL</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="setting.appUpdateUrl">
                    </div>
                </div>
                <div class="form-group" ng-show="showAdvanced">
                    <label class="control-label col-md-3">Reinitialize Driver</label>
                    <div class="col-md-2">
                        <select ng-model="setting.reInitializeDriver" class="form-control" ng-options="o.v as o.n for o in [{ n: 'True', v: true }, { n: 'False', v: false }]">
                        </select>
                    </div>
                    <label class="control-label col-md-3">Disable Source</label>
                    <div class="col-md-2">
                        <select ng-model="setting.disableSourceAfterAcquire" class="form-control" ng-options="o.v as o.n for o in [{ n: 'True', v: true }, { n: 'False', v: false }]">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="showAdvanced">
                    <label class="control-label col-md-3" >Show UI</label>
                    <div class="col-md-2">
                        <select ng-model="setting.showUi" class="form-control" ng-options="o.v as o.n for o in [{ n: 'True', v: true }, { n: 'False', v: false }]">
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-3">&nbsp;</label>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-4 text-right">
                        <button type="submit" 
                            style="background: transparent; border: none !important;font-size:10;"                        
                            ng-click="showAdvanced = !showAdvanced"
                            class="btn btn-primary"
                            id="adv-settings-btn">Advanced</button>
                        <button type="submit" ng-click="update()" class="btn btn-success">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </form>    
</div>