<a class="dropdown-toggle navLink" role="button"
      style="color:gray"
      ng-click="onSetup()"
      tooltip="Setting" 
      tooltip-placement="top"
      tooltip-trigger="mouseenter">
   <span class="fa-stack fa-lg iconButton">
      <i class="fa fa-fw fa-cog fa-stack-2x navBgSecondaryColor"></i>
   </span>
</a>

 <!-- style="color:#33b5e6" -->
