<a  class="dropdown-toggle navLink"
    ng-class="getConnectionClass()" 
    role="button" 
    ng-click="onSetup()"       
    tooltip="{{status}}"
    tooltip-placement="top" 
    tooltip-trigger="mouseenter">
    <span class="fa-stack iconButton">
        <i class="fa fa-stack-2x fa-database"></i>
    </span>
</a>