<div style="padding:15px;">
    <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance"></t32-popup-closer>
    <div class="form-group">
        <div>
            <label for="dbUser" class="control-label">
                Username
            </label>
            <input id="dbUser" type="text" ng-model="username" class="form-control">
        </div>
        <div>
            <label for="dbPass" class="control-label">
                Password
            </label>
            <span ng-click="togglePassword()" ng-class="passwordIconClass"></span>
            <input id="dbPass" type="{{inputType}}" ng-model="password" class="form-control">

        </div>
        <div class="pull-right" style="padding-top:15px;">
            <button class="btn btn-danger" ng-click="cancel()">
                Cancel
            </button>
            <button class="btn btn-success" ng-click="submit()">
                Submit
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>