<div class="input-group input-group-sm">
    <div class="input-group-prepend" ngbDropdown>
        <button type="button"
        class="btn btn-outline-secondary"
        ngbDropdownToggle 
        autoClose="outside">
            Type
        </button>
        
        <div ngbDropdownMenu class="px-2">
            <div ngbDropDownMenuItem class="custom-control custom-checkbox mr-2">
                <input type="checkbox" id="{{uniqueId}}_primieTooth" class="custom-control-input" [(ngModel)]="primary" (ngModelChange)="handleModelChange()">
                <label class="custom-control-label" for="{{uniqueId}}_primieTooth">
                    Prime Tooth
                </label>
            </div>
            <div ngbDropDownMenuItem class="custom-control custom-checkbox">
                <input type="checkbox" id="{{uniqueId}}_supernumerary" class="custom-control-input" [(ngModel)]="supernumerary" (ngModelChange)="handleModelChange()">
                <label class="custom-control-label" for="{{uniqueId}}_supernumerary">
                    Supernumerary
                </label>
            </div>
        </div>
    </div>
    <select class="form-control form-control-sm" [(ngModel)]="model" (ngModelChange)="handleChange()">
        <option value=""></option>
        <option *ngFor="let option of currentOptions" [value]="option">{{option}}</option>
    </select>
</div>