<div class="col-3">
    <label for="">Cdt Code</label>
    <app-cdtcode-picker [selectedValue]="getCurrentValue('cdtCode')" (onChange)="handleOnChange('cdtCode', $event)"></app-cdtcode-picker>
    <div *ngIf="treatmentForm.touched && treatmentForm.controls.cdtCode.invalid" class="text-danger">
        <small>This field is required</small>
    </div>
</div>
<div class="col-3">
    <label for="">Tooth #</label>
    <app-tooth-picker [selectedValue]="getCurrentValue('tooth_number')" (onChange)="handleOnChange('tooth_number', $event)"></app-tooth-picker>
</div>

<div class="col-2">
    <label for="">Surface</label>
    <app-surface-picker [selectedValue]="getCurrentValue('surfaces')" (onChange)="handleOnChange('surfaces', $event)"></app-surface-picker>
</div>

<div class="col">
    <label for="">Quadrant</label>
    <app-quadrant-picker [selectedValue]="getCurrentValue('oral_cavity')" (onChange)="handleOnChange('oral_cavity', $event)"></app-quadrant-picker>
</div>
<div class="col-2" *ngIf="disabledFields.indexOf('completed') == -1">
    <label>Completed</label>
    <div>
        <div class="custom-control custom-checkbox ml-2">
            <input type="checkbox" class="custom-control-input" id="{{uniqueId}}" [checked]="treatmentForm.value.completed" (change)="handleOnChange('completed', $event.target.checked)">
            <label class="custom-control-label" for="{{uniqueId}}">&nbsp;</label>
        </div>
    </div>
</div>