<div class="modal-header">
    <h5 class="m-0">
        Uploads in Progress
    </h5>
    <app-popup-closer [modalInstance]="modal" *ngIf="modal"></app-popup-closer>
</div>
<div class="modal-body">
    <ng-container *ngFor="let uploadQueueKey of currentQueueKeys">
        <div class="div-table card mb-1">
            <div class="div-th-striped">
                <div class="row">
                    <div class="col-11 font-weight-bold">
                        Session ID: {{uploadQueueKey}}&nbsp;<span></span>
                    </div>
                    <div class="col-1 text-right">
                        <button class="btn btn-sm btn-outline-primary" (click)="toggleActiveState(uploadQueueKey)">
                            <span [ngClass]="getStatusClass(uploadQueueKey)"></span>
                        </button>
                    </div>
                </div>
            </div>
            <ng-container class="div-td" *ngIf="activeStateMap[uploadQueueKey]">
                <div class="div-td" *ngFor="let upload of currentQueue[uploadQueueKey]">
                    <div class="row">
                        <div class="col-3">
                            <span class="fa fa-user"></span>&nbsp;
                            {{upload.patientName}}
                            <span *ngIf="upload.isOffline" class="badge badge-warning">New</span>
                        </div>
                        <div class="col-3">
                            <span class="fa fa-birthday-cake"></span>&nbsp;
                            {{upload.patientDob | date:'MM/dd/yyyy'}}
                        </div>
                        <div class="col-1">
                            <span class="fa fa-sticky-note"></span>&nbsp;
                            {{upload.uploadData?.noteCount}}
                        </div>
                        <div class="col-1">
                            <span class="fa fa-stethoscope"></span>&nbsp;
                            {{upload.uploadData?.treatmentCount}}
                        </div>
                        <div class="col-4">
                            <!-- <span class="fa fa-check-circle" [ngClass]="isComplete(upload.isComplete)"></span> -->
                            <app-progress-bar [config]="upload.progressConfig">
                            </app-progress-bar>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>