<app-home-button></app-home-button>
<div class="d-flex flex-column h-100">
    <div class="h-100">
        <div class="col col-md-8 mx-auto h-100">
            <div class="card mh-100">
                <div class="card-body mh-100 overflow-auto">
                    <h5>New {{ mode == 'offline' ? 'Offline': '' }} Patient</h5>
                    <form [formGroup]="newPatientForm" (ngSubmit)="handleSubmission($event)">
                        <div class="form-row">
                            <div class="col-12 bg-light rounded mb-2">
                                <small class="font-weight-bold">Patient Details</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">First Name</label>
                                <input type="text" class="form-control form-control-sm" formControlName="fname">
                                <div *ngIf="submitted && form.fname.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Middle Name</label>
                                <input type="text" class="form-control form-control-sm" formControlName="mname">
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control form-control-sm" formControlName="lname">
                                <div *ngIf="submitted && form.lname.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">DOB</label>
                                <app-date-picker [initialVal]="newPatientForm.value.dob" (onSelect)="setValue($event, 'dob')"></app-date-picker>
                                <div *ngIf="submitted && form.dob.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Gender</label>
                                <select name="" id="" class="form-control form-control-sm" formControlName="gender">
                                    <option value=""></option>
                                    <option value="0">Female</option>
                                    <option value="1">Male</option>
                                </select>
                                <div *ngIf="submitted && form.gender.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">SSN</label>
                                <input class="form-control form-control-sm" type="number" formControlName="ssn" />
                                <div *ngIf="submitted && form.ssn.errors" class="text-danger">
                                    <small>Invalid entry</small>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-12 bg-light rounded mb-2">
                                <small class="font-weight-bold">Contact Information</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-6 mb-3">
                                <label for="">Address Line 1</label>
                                <input type="text" class="form-control form-control-sm" formControlName="add_line1">
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <label for="">Address Line 2</label>
                                <input type="text" class="form-control form-control-sm" formControlName="add_line2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">City</label>
                                <input type="text" class="form-control form-control-sm" formControlName="city">
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">State</label>
                                <select name="" id="" class="form-control form-control-sm" formControlName="state">
                                    <option value=""></option>
                                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Zipcode</label>
                                <input type="text" class="form-control form-control-sm" formControlName="zipcode">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Email</label>
                                <input type="email" class="form-control form-control-sm" formControlName="email">
                                <div *ngIf="submitted && form.email.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Phone</label>
                                <input type="tel" class="form-control form-control-sm" formControlName="phone">
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="">Cell Phone</label>
                                <input type="tel" class="form-control form-control-sm" formControlName="smsPhone">
                                <div *ngIf="submitted && form.smsPhone.errors" class="text-danger">
                                    <small>This field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 bg-light rounded mb-2">
                                <small class="font-weight-bold">Preferences</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6 mb-3">
                                <label for="">Consent Preference</label>
                                <div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="contactPreferenceEmail" formControlName="emailConsent" />
                                        <label class="custom-control-label" for="contactPreferenceEmail">Email</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="contactPreferenceText" formControlName="smsConsent" />
                                        <label class="custom-control-label" for="contactPreferenceText">Text</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="contactPreferenceEstatement" formControlName="eStatementConsent" />
                                        <label class="custom-control-label" for="contactPreferenceEstatement">E-Statement</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <label for="">Communication Preference</label>
                                <div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="commPreferenceEmail" formControlName="preferEmail" />
                                        <label class="custom-control-label" for="commPreferenceEmail">Email</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="commPreferenceText" formControlName="preferText" />
                                        <label class="custom-control-label" for="commPreferenceText">Text</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="commPreferenceCall" formControlName="preferCall" />
                                        <label class="custom-control-label" for="commPreferenceCall">Call</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="">Notes</label>
                                <textarea class="form-control" formControlName="notes"></textarea>
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="col text-right">
                                <button class="btn btn-link btn-sm text-danger" (click)="back()" type="button">Cancel</button>
                                <button class="btn btn-primary btn-sm" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>