<div class="form-group">
    <!-- <label for=""></label> -->
    <input type="text" class="form-control {{classList}}" placeholder="Name Id Tel DOB MM/DD/YYY Email" (input)="onSearchInput($event)">
</div>