<!-- <button type="button" class="close close-btn" aria-label="Close" (click)="onClose()"
[hidden]="!theModalInstance">
  <span class="ft-2h" aria-hidden="true">&times;</span>
</button> -->

<button type="button" class="close" aria-label="Close" (click)="close()">
  <span aria-hidden="true">&times;</span>
</button>