<div class="landing" ng-if="!hideView">    
    <div class="col-md-12" style="padding-top: 70vh">
        <button class="btn btn-success" ng-click="onEntry()">
            Select Patient
        </button>
        &nbsp;
        <button class="btn btn-info" ng-click="openChildWindow('imagingStudio')" ng-disabled="!hasImagingSubscription">
            Offline Charting
        </button>
        &nbsp;
        <button class="btn btn-warning " ng-show="uploads.length"
            upload-details 
            uploads="uploads">
            Upload Details
        </button>
    </div>

    <div class="col-md-12" style="padding-top:20vh;">
        <div>
            <span id="appVersion" style="color: gray;">
                v &nbsp;{{setting.appVersion}}
            </span>
        </div>
        <div>
            <span id="studioCopyRight" style="color: gray;">
                &copy;&nbsp;{{year}} tab32. All Rights Reserved.
            </span>
            <span class="pull-right">
                <t32-setup-button class="ng-scope ng-isolate-scope">
                </t32-setup-button>
            </span>
            <!-- <span class="pull-right" id="dbIconWrapper">
                <t32-xray-studio-db-status></t32-xray-studio-db-status>
            </span> -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="overlay" ng-if="hideView">

</div>
