<!-- <div class="container-fluid">
    <t32-popup-closer style="z-index: 1000;" ng-show="theModalInstance" the-modal-instance="theModalInstance">
    </t32-popup-closer>
    <h1 class="text-center">
        Upload Summary
    </h1>
    <div class="col-md-12 table table-striped">
        <div ng-show="!uploadsArr.length">
            <div class="alert alert-box">
                There are no uploads. 
            </div>
        </div>
        <ul ng-show="uploadsArr.length" class="list-group">
            <li ng-repeat="folder in uploadsArr" class="list-group-item">
                {{folder.info}}
                <span class="badge-custom pull-right" ng-class="folder.class">{{folder.label}}</span>
            </li>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <t32-page-header title-img="titleImg" title-container-style="titleStyle" title-img-style="titleImgStyle">
    </t32-page-header>

    <t32-popup-closer style="z-index: 1000;" ng-show="theModalInstance" the-modal-instance="theModalInstance">
    </t32-popup-closer>
    
    <h3 class="text-center title">
        Upload Summary
    </h3>
    <div class="col-md-12 table table-striped">
        <div ng-show="!uploads.length">
            <div class="alert alert-box">
                There are no uploads. 
            </div>
        </div>
        <ul ng-show="uploads.length" ng-repeat="folder in uploads" class="list-group">
            <li class="list-group-item" ng-if="!retryMap[folder.id]">
                <div>
                    {{folder.name}}
                    <button class="btn btn-sm btn-link" tooltip="Retry Upload" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="retryUpload(folder.id)" ng-if="folder.status == 'failed'">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info  progress-bar-striped active text-black" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="getProgress(folder.uploaded, folder.total)"
                    ng-if="folder.status == 'inProgress'">
                        Uploading {{folder.uploaded}} / {{folder.total}}
                    </div>
                    <div class="progress-bar progress-bar-success  progress-bar text-black" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
                    ng-if="folder.status == 'finished'">
                        Finshed files {{folder.uploaded}} / {{folder.total}}
                    </div>
                    <div class="progress-bar progress-bar-danger  progress-bar text-black" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="getProgress(folder.uploaded, folder.total)"
                    ng-if="folder.status == 'failed'">
                        Failed after {{folder.uploaded}} / {{folder.total}}
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-link"  aria-expanded="true" aria-controls="collapseOne" ng-click="collapse(folder.id)">
                        Show Details
                        <i class="fa fa-caret-down" id="caret-down-{{folder.id}}"></i>
                        <i class="fa fa-caret-up" id="caret-up-{{folder.id}}" style="display: none;"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div id="{{folder.id}}" class="collapse">
                    <ul class="list-group" style="margin-bottom: 0px;" ng-repeat="(key, val) in folder.files">
                        <li class="list-group-item" ng-class="isFileFinished(folder.status, val)">
                            {{key}}
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- <ul class="list-group">
            <li class="list-group-item">
                <div>
                    TESTING <button class="btn btn-sm btn-link" tooltip="Retry Upload" tooltip-placement="top"
                        tooltip-trigger="mouseenter">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div> 
                <div class="progress" style="margin-bottom: 10px;">
                    <div class="progress-bar progress-bar-danger  progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Testing 10 / 10
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-xs btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Show Details
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div id="collapseOne" class="collapse">
                    <ul class="list-group" style="margin-bottom: 0px;">
                        <li class="list-group-item list-group-item-danger">
                            file 1
                        </li>
                        <li class="list-group-item list-group-item-danger">
                            file 2
                        </li class="list-group-item list-group-item-danger">
                        <li class="list-group-item list-group-item-danger">
                            file 3
                        </li>
                        <li class="list-group-item list-group-item-danger">
                            file 4
                        </li>
                    </ul>
                </div>
            </li>
        </ul> -->
    </div>
</div>