<select class="form-control form-control-sm" [(ngModel)]="model" (ngModelChange)="handleChange()">
    <option value="" selected>Select Template</option>
    <option *ngFor="let template of templateList" [value]="template._id">{{template.label}}</option>
</select>