/** custom scrollbar **/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #f1f1f1;;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
}

.sticky-table-head {
  thead tr {
    td, 
    th {
      position: sticky;
      top: 0;
      background-color: #f1f1f1;
    }
  }
}

// font resize
body {
  // font-size: 0.8em !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.w-95px {
  width: 95px;
}

.w-130px {
  width: 130px;
}

.toast-wrapper {
  z-index: 10000; 
  position: absolute !important; 
  right: 10px;
  top: 10px;

  .toast {
    border: none !important;
  }
}

.div-table {
  .div-th {
    padding: 10px 7px;
  }

  .div-th-striped {
    padding: 10px 7px;
    background-color: #eee;
  }   

  .div-td {
    padding: 7px;
  }

  .div-td-striped {
    padding: 7px;
    background-color: #eee;
  }
}

.modal-content{
  padding: 1px;
}


.icon-badge {
  top: -8px !important;
  left: -4px !important;
}

.icon-badge-sm {
  font-size: 60% !important;
}

@mixin borderColor($direction, $colorName, $color) {
  .border-#{$direction}-#{$colorName} {
    border-#{$direction}-color: #{$color} !important;
  }
}

@mixin borderWidth($direction, $width) {

  @if $direction {
    .border-#{$direction}-#{$width} {
      border-#{$direction}-width: #{$width}px, solid !important;
    }
  } @else {
    .border-#{$width} {
      border: #{$width}px, solid !important
    }
  }

}


@include borderColor("left", "danger", #dc3545);
@include borderColor("right", "danger", #dc3545);
@include borderColor("top", "danger", #dc3545);
@include borderColor("bottom", "danger", #dc3545);
@include borderColor("left", "success", #28a745);
@include borderColor("right", "success", #28a745);
@include borderColor("top", "success", #28a745);
@include borderColor("bottom", "success", #28a745);

@for $i from 1 through 5 {
  @include borderWidth("left", $i);
  @include borderWidth("right", $i);

  @include borderWidth("top", $i);
  @include borderWidth("bottom", $i);
  @include borderWidth(null, $i);
}

@mixin opacity($val) {
  .opacity-#{$val} {
    opacity: #{ $val / 100 };
  }
}

@for $i from 0 through 100 {
  @include opacity($i);
  $i: $i + 10;
}

.mh-100 {
  max-height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.flashing{
  animation:flash 2s infinite;
}

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }
  25%, 75%{
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}


