<div class="d-flex flex-column h-100">
    <!-- <app-progress-bar
        [config]="progressBarConfig">
    </app-progress-bar> -->
    <div class="text-right">
        <div class="float-right bg-white rounded shadow-sm">
            <button class="btn btn-link mr-2" (click)="openUploadPage()" [disabled]="!isConnected || isDownloading || isRefreshing">
                <span class="fa fa-cloud-upload"></span>
                Upload Offline Data
            </button>
            <button class="btn btn-link mr-2" (click)="openDownloadPage()" [disabled]="!isConnected || isDownloading || isRefreshing">
                <span class="fa fa-cloud-download" [ngClass]="{'flashing text-warning': isDownloading}"></span>
                Download Offline Data
            </button>
            <app-refresh-button 
                [isDisabled]="!isConnected || isDownloading || isRefreshing"
                (refreshing)="onRefreshChange($event)">
            </app-refresh-button>
            <app-connection-status></app-connection-status>
        </div>
    </div>
    <div class=" px-3 py-2 h-100 overflow-hidden">
        <div class="d-flex flex-column h-100 col col-md-8 m-auto">
            <div>
                <h3 class="font-weight-normal d-inline-block">Search Offline Patients</h3>
                <button routerLink="/new-patient" class="float-right btn btn-link btn-sm p-0 mt-2">Create Offline Patient</button>

            </div>

            <app-patient-search type="all" mode="offline" classList="p-2" (onData)="handleSearchResult($event)"></app-patient-search>
            
            <div class="text-right text-secondary">
                <small>displaying {{searchedPatients.length}} records</small>
            </div>
            <div class="h-100 overflow-auto">
                <div class="text-center pt-5" *ngIf="!searchedPatients.length">
                    <img class="opacity-50" width="400px" src="assets/img/svg/undraw_people_search.svg" alt="Search result placeholder image">
                </div>

                <ul *ngIf="searchedPatients.length" class="list-group list-group-flush border shadow-sm rounded">
                    <li class="list-group-item" *ngFor="let item of searchedPatients" [ngClass]="refreshNeededClass(item)">
                        <div class="d-flex w-100 justify-content-between">
                            <app-patient-detail-view
                                [patient]="item"
                                header="name"
                                details="chartId,email,smsPhone"
                            ></app-patient-detail-view>
                            <div>
                                <button class="btn btn-primary btn-sm" (click)="selectPatient(item)" *ngIf="!refreshNeeded(item)">
                                    Select
                                </button>
                                <app-refresh-button [isDisabled]="!isConnected || isDownloading" *ngIf="refreshNeeded(item)" [patient]="item" (refreshing)="onRefreshChange($event)">
                                </app-refresh-button>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>  
</div>