
<div class="col-md-12 mt-15">
    <div class="row">
        <div class="col-md-6">
            <label>Patient Name</label>
            <input type="text" class="form-control" ng-model="folderName" />
        </div>
    </div>
</div>
<div class="col-md-12 mt-15">
    <ul class="list-group list-group-flush">
        <li class="list-group-item clearfix">
            <div class="col-sm-2">
                <img ng-src="{{imgSrc}}" width="60px" ng-style="imgStyle" />
            </div>
            <div class="col-sm-8">
                <p class="clinic_name" style="font-size: 20px;">{{folderName}}</p>
                <address ng-show="folderName !== ''" class="m-0">
                    {{rootPath}}{{ext}}{{folderName}}
                </address>
            </div>
            <div class="col-sm-2 mt-10">
                <button class="btn btn-sm btn-success" ng-click="createFolder()" ng-disabled="folderName == ''">Xray</button>
            </div>
        </li>
    </ul>
</div>