<div class="input-group" class="date-picker-container">
    <input type="text" class="form-control"
           ng-hide="hideInputWidget"
           ng-disabled="isDisabled"
           ng-model="selectedDate"
           ng-change="onChange()"
           is-open="opened" 
           show-button-bar="false" 
           placeholder="MM/dd/yyyy"
           datepicker-options="t32DatePickerOptions" 
           datepicker-popup="MM/dd/yyyy"/>
        <span ng-class="{'glyphicon glyphicon-remove': selectedDate.$invalid}"
              class="form-control-feedback" style="right: 105px;"></span>
        <span class="input-group-addon" ng-hide="hideTodayButton || isDisabled">
            <a ng-click="today()" href="">Today</a>
        </span>
        <span class="input-group-addon" ng-hide="isDisabled">
            <a ng-click="toggle($event)" href=""><span class="glyphicon glyphicon-calendar"></span></a>
        </span>
</div>