<button type="button" id="t32-menu-button" class="navbar-toggle collapsed" data-toggle="collapse"
    data-target="{{targetId}}" aria-expanded="true" ng-style="btnStyle">
    <span class="icon-bar" ng-repeat="bar in iconBars" ng-style="barStyle"></span>
</button>