<div class="row content-title-container" ng-style="titleContainerStyle">
    <div class="col-md-12" ng-class="titleChildDivClass">
        <t32-menu-button btn-bg="white" bars="{{barLen}}" bar-bg="#33b5e6" target-id="{{menuTarget}}" ng-if="menuTarget">
        </t32-menu-button>
        <h4 ng-if="titleText">
            {{titleText}}
        </h4>
        <img src="{{titleImg}}" class="header-img" ng-style="titleImgStyle" ng-if="titleImg">
    </div>
</div>