<!-- <div class="container-fluid">
   <t32-popup-closer ng-show="theModalInstance"
      the-modal-instance="theModalInstance">
   </t32-popup-closer>   
   <br>
   <br>
   <div class="row">
      <div class="col-sm-offset-1 col-sm-11">
         <h4>Select Patient</h4>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-sm-offset-1 col-sm-11" style="vertical-align:middle;display:inline-block;">
          <label>
            <input type="radio" ng-model="theOption"  value="byEHR">&nbsp;&nbsp;Search patient in EHR system
          </label>              
          <br>
          <br>
          <span ng-hide="fromEhrOnly">
            <label>
              <input type="radio" ng-model="theOption"  value="byManual" >&nbsp;&nbsp;Enter patient name manually (offline mode)   
            </label>  
             <br>
             <br>
            <label>             
             <input type="radio" ng-model="theOption"  value="byExistingFolder">&nbsp;&nbsp;Select patient in local folder (offline mode)
            </label>    
          </span>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div>
   <div class="row" ng-show="theOption == 'byEHR'">
      <div class="col-sm-offset-1 col-sm-8">
         <t32-ehr-login-button></t32-ehr-login-button>
         <t32-my-clinic-selector
            selected-clinic="clinic">
         </t32-my-clinic-selector>
         <br>
         <div class="row">
            <div class="col-md-10">
               <t32-patient-search
                  ng-show="clinic._id"
                  clinic="clinic"
                  on-select-patient="onSelectPatient(patient)">
               </t32-patient-search>
            </div>
            <div class="col-md-1">
               <t32-new-patient-icon
                  style="zoom:60%;" 
                  ng-show="clinic._id"
                  clinic="clinic">
               </t32-new-patient-icon>
            </div>
          </div>
         <span ng-show="selectedPatient">Selected Patient:&nbsp;&nbsp;<label>{{selectedPatient.name}}</label>
         <br>
         <span ng-show="selectedPatient">Chart ID: &nbsp;<label>{{selectedPatient.clinicData.chartId}}</label></span>
      </div>
   </div>
   <div class="row" ng-show="theOption == 'byExistingFolder'">
      <div class="col-sm-offset-1 col-sm-8">
         <label>Local Patient Folder</label>
         <select ng-options="directory as directory for directory in directoryList"
                 ng-model="selectedFolder"
                 class="form-control">
             <option value=""> </option>
         </select> 
      </div>
   </div>
   
   <div class="row" ng-show="theOption == 'byManual'">
      <div class="col-sm-offset-1 col-sm-8">
         <label>Patient Name</label>
         <input type="text" class="form-control" ng-model="manualInput"/>
      </div>
   </div>

   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-sm-offset-1 col-sm-11">
         <button 
            class="btn btn-success"
            ng-show="selectedFolder"
            ng-click="onConfirm('xray')">
            Xray
         </button>
      </div>
      <div class="col-sm-offset-1 col-sm-11">
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">&nbsp;</div>
</div> -->

<div class="contianer-fluid">
   <!-- <div class="row content-title-container">
      <div class="col-md-12 branding">
         <t32-menu-button btn-bg="white" bars="{{barLen}}" bar-bg="#33b5e6" target-id="#patient-selector-sidebar-collapse">
         </t32-menu-button>
         <h4>
            Select Patient
         </h4>
      </div>
   </div> -->
   <t32-page-header 
      title-text="titleText"
      title-container-style="titleStyle" 
      menu-target="#patient-selector-sidebar-collapse"
      menu-bar-len="{{menuBarLen}}"
      title-child-div-class="titleChildDivClass">
   </t32-page-header>
   <t32-popup-closer ng-show="theModalInstance" the-modal-instance="theModalInstance">
   </t32-popup-closer>
   <div class="row" style="margin: 0">
      <div class="col-sm-12" style="padding: 0">
         <div class="col-md-3 content-sidebar">
            <nav id="patient-selector-sidebar">
               <div class="large-header clearfix">
               </div>
               <div id="patient-selector-sidebar-collapse" class="collapse" style="overflow: auto">
                  <ul class="list-unstyled components list-wrapper" style="min-height: 80vh; max-height: 80vh;">
                     <li class="list-item" ng-class="isSelected('byEHR')" ng-click="selectOpt('byEHR')">Search EHR</li>
                     <span class="list-item-wrapper" ng-disabled="fromEhrOnly">
                        <li class="list-item" ng-class="isSelected('byManual')" ng-click="selectOpt('byManual')" ng-disabled="fromEhrOnly">Enter Manually</li>
                     </span>
                     <span class="list-item-wrapper" ng-disabled="fromEhrOnly">
                        <li class="list-item" ng-class="isSelected('byExistingFolder')" ng-click="selectOpt('byExistingFolder')" ng-disabled="fromEhrOnly">Select in Local Folder</li>
                     </span>
                  </ul>
               </div>
            </nav>
         </div>

         <div class="col-md-9" style="min-height:80vh; max-height:80vh; overflow-y: auto;">
            <div class="row" ng-show="theOption == 'byEHR'">
               <t32-ehr-auth-login></t32-ehr-auth-login>
               <div class="col-sm-12">
                  <t32-my-clinic-selector selected-clinic="clinic">
                  </t32-my-clinic-selector>
                  <div class="row" style="margin-top: 30px;">
                     <div class="col-xs-10">
                        <t32-patient-search ng-show="clinic._id" clinic="clinic" on-select-patient="onSelectPatient(patient)">
                        </t32-patient-search>
                     </div>
                     <div class="col-xs-1">
                        <t32-new-patient-icon style="zoom:80%;" ng-show="clinic._id" clinic="clinic">
                        </t32-new-patient-icon>
                     </div>
                  </div>
                  <!-- <span ng-show="selectedPatient">Selected Patient:&nbsp;&nbsp;<label>{{selectedPatient.name}}</label>
                     <br>
                     <span ng-show="selectedPatient">Chart ID: &nbsp;<label>{{selectedPatient.clinicData.chartId}}</label></span> -->
               </div>
            </div>
            <div class="row" ng-show="theOption == 'byExistingFolder'">
               <div class="col-sm-12">
                  <!-- <h3 class="title">Local Folders</h3> -->
                  <directory-list selected-folder="selectedFolder" on-folder-select="onLocalFolderSelect(folder)"></directory-list>
                  <!-- <select ng-options="directory as directory for directory in directoryList" ng-model="selectedFolder"
                     class="form-control">
                     <option value=""> </option>
                  </select> -->
               </div>
            </div>
            
            <div class="row" ng-show="theOption == 'byManual'">
               <!-- <div class="col-sm-offset-1 col-sm-8 mt-15">
                  <label>Patient Name</label>
                  <input type="text" class="form-control" ng-model="manualInput" />
               </div> -->
               <create-patient-folder on-create-folder="onManualFolderSelect(name)"></create-patient-folder>
            </div>

            <div class="row">
               <div class="col-sm-11">
                  <!-- <button class="btn btn-success pull-right" ng-show="selectedFolder" ng-click="onConfirm('xray')">
                     Xray
                  </button> -->
               </div>
            </div>

         </div>
   </div>
</div>
