<div class="container-fluid">
<!--
   <t32-popup-closer ng-show="theModalInstance"
      the-modal-instance="theModalInstance">
   </t32-popup-closer>   
-->
   <br>
   <br>
   <div class="row">
      <div class="col-sm-offset-1 col-sm-11">
         <h4>{{title}}</h4>
      </div>
   </div>
   <div class="row" ng-show="noteList">
      <div class="col-sm-offset-1 col-sm-11">
         <ul>
            <li ng-repeat="note in noteList">
               <small>{{note}}</small>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">&nbsp;</div>
   <div class="row">
      <div class="col-md-12">
         <form class="form-horizontal" role="form">
            <div class="form-group">
               <label class="col-sm-1 control-label">
                  &nbsp;
               </label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="theAnswer"/>
               </div>
            </div>
            <br>
            <div class="form-group">
               <div class="col-sm-offset-1 col-sm-8">
                  <button ng-click="onCancel()" class="btn btn-default">
                     Cancel
                  </button>
                  &nbsp;&nbsp;
                  <button 
                     class="btn btn-primary"
                     ng-disabled="!theAnswer"
                     ng-click="onConfirm()">
                     Ok
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="row">&nbsp;</div>
</div>