<div class="modal-header">
    <h5 class="m-0">
        {{widgetMode}} treatment
    </h5>
    <app-popup-closer [modalInstance]="modal"></app-popup-closer>
</div>
<div class="modal-body">
    <form [formGroup]="patientTreatmentsForm" (ngSubmit)="handleSubmission($event)">
        <div class="form-row mb-3">
            <div class="col-3">
                <label for="">Location</label>
                <app-location-picker 
                    [currentLocation]="patientTreatmentsForm.value.location"
                    (onSelect)="handleLocationSelection($event)"
                ></app-location-picker>
                <div *ngIf="patientTreatmentsForm.touched && patientTreatmentsForm.controls.location.invalid" class="text-danger">
                    <small>This field is required</small>
                </div>
            </div>
            <div class="col-3">
                <label for="">Treating Provider</label>
                <app-provider-picker 
                    [locationId]="patientTreatmentsForm.value.location"
                    [currentProvider]="patientTreatmentsForm.value.provider"
                    (onSelect)="handleProviderSelection($event)"
                ></app-provider-picker>
                <div *ngIf="patientTreatmentsForm.touched && patientTreatmentsForm.controls.provider.invalid" class="text-danger">
                    <small>This field is required</small>
                </div>
            </div>
            <div class="col-3" *ngIf="widgetMode == 'Add'">
                <label>
                    Quick Key
                </label>
                <treatment-quick-keys-dropdown [selectId]="" (onKeySelection)="onQuickKeySelect($event)"
                (onEdit)="onEditQuickKey($event)">
                </treatment-quick-keys-dropdown>
            </div>
        </div>
        
        <ng-container *ngFor="let treatment of treatments; let i = index">
            <div class="d-flex mb-2">
                <div class="w-100">
                    <app-treatment-definition [treatment]="treatment" widgetType="patient_treatment" (form)="setTreatmentForm($event)"></app-treatment-definition>
                </div>
                <div class="ml-2">
                    <label for="">&nbsp;</label>
                    <button class="btn btn-sm btn-outline-danger" type="button" (click)="removeTreatment(i)">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </div>
        </ng-container>

        <div class="form-row mt-3">
            <div class="col" *ngIf="widgetMode == 'Add'">
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="addTreatment()"> Add Treatment</button>
            </div>
            <div class="col text-right">
                <button type="button" (click)="close()" class="btn btn-link btn-sm text-danger d-inline-block">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm ml-2 d-inline-block">Save</button>
            </div>
        </div>
    </form>
</div>