<div class="input-group">
    <input 
        class="form-control form-control-sm" 
        type="text"
        placeholder="yyyy-mm-dd"
        [(ngModel)]="dateModel"
        ngbDatepicker
        #d="ngbDatepicker"
        autoClose="true"
        (click)="d.toggle()"
        readonly="true"
        (dateSelect)="handleChange()"
    />

    <div class="input-group-append">
        <button 
            type="button" 
            class="btn btn-sm btn-outline-secondary" 
            (click)="d.toggle()"
        >
            <span class="fa fa-calendar"></span>
        </button>
    </div>
</div>